<div class="col-lg-3 am-u-lg-3 am-show-lg-only zy-show-lg-nav">
<div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
	  	<h2 class="am-titlebar-title ">博文管理</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
		  	<li><a href="/manageArticle">已发表的 (<%= allNum[0][0] %>)</a></li>
		  	<li><a href="/noPublicBW">未发表的 (<%= allNum[0][1] %>)</a></li>
		  	<li><a href="/relatedMeBW">与我相关 (<%= allNum[0][2] %>)</a></li>
		</ul>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
	  	<h2 class="am-titlebar-title ">面试经验</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
		  	<li><a href="/manageExperience">已发表的 (<%= allNum[1][0] %>)</a></li>
		  	<li><a href="/noPublicMJ">未发表的 (<%= allNum[1][1] %>)</a></li>
		  	<li><a href="/relatedMeMJ">与我相关 (<%= allNum[1][2] %>)</a></li>
		</ul>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
	  	<h2 class="am-titlebar-title ">新建</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
		  	<li><a href="/createArticle">写博文</a></li>
		  	<li><a href="/createExperience">写面经</a></li>
		</ul>
	</div>
</div>
</div>