<style>
.am-nav-en{
	color: #8ea0c0;
	font-size: 14px;
}	
</style>
<div class="col-lg-2 am-u-lg-2 am-show-lg-only zy-show-lg-nav">
	<div>
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
			<h2 class="am-titlebar-title ">博文面经</h2>
		</div>
		<div>
			<ul class="am-list am-list-border">
				<li><a href="/blogs_art_pub">技术博文<span class="am-nav-en">(<%= allNum[0][0] %>)</span></a></li>
				<li><a href="/blogs_art_pri">行业远瞻<span class="am-nav-en">(<%= allNum[0][0] %>)</span></a></li>
				<li><a href="/blogs_art_pri">生活日志<span class="am-nav-en">(<%= allNum[0][0] %>)</span></a></li>
				<li><a href="/blogs_art_pri">随便写写<span class="am-nav-en">(<%= allNum[0][0] %>)</span></a></li>
				<li><a href="/blogs_art_rea">面试经验<span class="am-nav-en">(<%= allNum[0][0] %>)</span></a></li>
			</ul>
		</div>
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
			<h2 class="am-titlebar-title ">博文管理</h2>
		</div>
		<div>
			<ul class="am-list am-list-border">
				<li><a href="/blogs_art_pub">已发表<span class="am-nav-en">(<%= allNum[0][0] %>)</span></a></li>
				<li><a href="/blogs_art_pri">未发表<span class="am-nav-en">(<%= allNum[0][1] %>)</span></a></li>
				<li><a href="/blogs_art_rea">所有的<span class="am-nav-en">(<%= allNum[0][2] %>)</span></a></li>
			</ul>
		</div>
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
			<h2 class="am-titlebar-title ">面试经验</h2>
		</div>
		<div>
			<ul class="am-list am-list-border">
				<li><a href="/blogs_exp_pub">已发表<span class="am-nav-en">(<%= allNum[1][0] %>)</span></a></li>
				<li><a href="/blogs_exp_pri">未发表<span class="am-nav-en">(<%= allNum[1][1] %>)</span></a></li>
				<li><a href="/blogs_exp_rea">所有的<span class="am-nav-en">(<%= allNum[1][2] %>)</span></a></li>
			</ul>
		</div>
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
			<h2 class="am-titlebar-title ">评论管理</h2>
		</div>
		<div>
			<ul class="am-list am-list-border">
				<li><a href="/blogs_com_mine">我评论<span class="am-nav-en">(<%= allNum[2][0] %>)</span></a></li>
				<li><a href="/blogs_com_yours">被评论<span class="am-nav-en">(<%= allNum[2][1] %>)</span></a></li>
			</ul>
		</div>
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
			<h2 class="am-titlebar-title ">新建操作</h2>
		</div>
		<div>
			<ul class="am-list am-list-border">
				<li><a href="/blogs_art_cre">新建博文</a></li>
				<li><a href="/blogs_exp_cre">新建面经</a></li>
			</ul>
		</div>
	</div>
</div>
