<div class="col-lg-2 am-u-lg-2 am-show-lg-only zy-show-lg-nav">
	<div>
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
			<h2 class="am-titlebar-title ">博文管理</h2>
		</div>
		<div>
			<ul class="am-list am-list-border">
				<li><a href="/blogs_art_pub">已发表 (<%= allNum[0][0] %>)</a></li>
				<li><a href="/blogs_art_pri">未发表 (<%= allNum[0][1] %>)</a></li>
				<li><a href="/blogs_art_rea">所有博文 (<%= allNum[0][2] %>)</a></li>
			</ul>
		</div>
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
			<h2 class="am-titlebar-title ">面试经验</h2>
		</div>
		<div>
			<ul class="am-list am-list-border">
				<li><a href="/blogs_exp_pub">已发表 (<%= allNum[1][0] %>)</a></li>
				<li><a href="/blogs_exp_pri">未发表 (<%= allNum[1][1] %>)</a></li>
				<li><a href="/blogs_exp_rea">所有面经 (<%= allNum[1][2] %>)</a></li>
			</ul>
		</div>
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
			<h2 class="am-titlebar-title ">新建</h2>
		</div>
		<div>
			<ul class="am-list am-list-border">
				<li><a href="/blogs_art_cre">新建博文</a></li>
				<li><a href="/blogs_exp_cre">新建面经</a></li>
			</ul>
		</div>
	</div>
</div>
