<% include ../myheader.html %>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<section id="zy-createArticle">
	<% include ../nav.html %>
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered zy-manage-article">
		<% include articleNav.html %>
		<div class="col-lg-10 am-u-lg-10 zy-show-lg-content">
			<form class="am-form" method="post" data-am-validator>
				<fieldset>
					<div class="am-form-group">
						<label>文章标题</label>
						<input type="text" class="articleTitle" placeholder="输入文章标题" required>
					</div>
					<div class="am-form-group">
						<label>关键词</label>
						<input type="text" class="articleKeyword" placeholder="输入文章关键词" required>
					</div>
					<div class="am-form-group">
						<label>文章类型</label>
						<select class="articleType" required>
							<option value="">请选择一个选项</option>
							<option value="1">技术博客</option>
							<option value="2">行业远瞻</option>
							<option value="3">随便写写</option>
							<option value="4">生活日志</option>
						</select>
						<span class="am-form-caret"></span>
					</div>
					<div class="am-form-group">
						<label>文章内容</label>
						<script class="articleCont" id="articleCont" type="text/plain" style="width:100%;height:50rem">
						</script>
					</div>
					<br>
					<div class="am-form-group">
						<div class="am-u-sm-6 zy-changepadding">
							<a href="javascript:void(0);" class="articleFB am-btn am-btn-primary"> 发布吧 </a>
						</div>
						<div class="am-u-sm-6 zy-changepadding">
							<a href="javascript:void(0);" class="articleCG am-btn am-btn-primary"> 存草稿 </a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div id="zy-img-con"></div>
</section>

<br><br><br>

<script type="text/javascript">
	var articleCon = UE.getEditor('articleCont');
</script>

<% include ../myfooter.html %>
