<% include ../myheader.html %>
<section id="zy-manageArticle">
	<% include ../nav.html %>
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered zy-manage-article">
		<% include articleNav.html %>
		<div class="col-lg-10 am-u-lg-10 zy-show-lg-content">
			<table class="am-table am-table-striped am-table-hover am-table-centered">
				<% if (allArticles.length>0) { %>
					<thead>
						<tr>
							<th style="width:6rem">序号</th>
							<th style="min-width:10rem">博文名称</th>
							<th style="width:10rem">博文类型</th>
							<th style="width:10rem">创建时间</th>
							<th style="width:6rem">操作</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<allArticles.length; i++) {%>
							<tr data-ids="<%= allArticles[i]._id %>">
								<td class="am-text-middle">
									<%= i+1 %>
								</td>
								<td class="am-text-middle">
									<%= allArticles[i].articleTitle %>
								</td>
								<td class="am-text-middle">
									<% if(allArticles[i].articleType=='1') { %>
											技术博客
										<% } else if(allArticles[i].articleType=='2'){ %>
											行业远瞻
										<% }else { %>
											乱七八糟
									<% } %>
								</td>
								<td class="am-text-middle">
									<%= dateformat(allArticles[i].cTime) %>
								</td>
								<td class="am-text-middle">
									<a href="javascript:;" class="zy-del-art">删除</a><br>
									<a href="/blog_art?aid=<%= allArticles[i]._id %>">查看</a><br>
									<% if(allArticles[i].articleTag=='2') { %>
									<a href="javascript:;" class="zy-pub-art">发布</a>
									<% } %>
								</td>
							</tr>
						<% } %>
					</tbody>
				<% } %>
			</table>
			<div id="pageShow" style="<% if(allArticles.length<=1) { %>display:none;<% } %>">
				<ul class="am-pagination am-pagination-right">
					共<%= allpage %>页&nbsp;
					<% if(showpagetip > 1) {%>
						<li class="J_pre-page"><a href="javascript:;">&laquo;</a></li>
						<% for(var i=1; i<=showpagetip; i++) {%>
							<% if(i==1) { %>
								<li class="am-active"><a href="javascript:;">1</a></li>
							<% }else{ %>
								<li><a href="javascript:;"><%= i %></a></li>
							<% } %>
						<% } %>
						<li class="J_next-page"><a href="javascript:;">&raquo;</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</section>

<script>
	window.__data={
		allpage: <%= allpage %>,
		showpagetip: <%= showpagetip %>,
		nums: <%= nums %>,
		uName: "<%= uName%>",
		<% if(locals.articleTag) { %>
			articleTag: <%= articleTag%>
		<% }else{ %>
			articleTag: 11
		<% } %>
	}
</script>

<% include ../myfooter.html %>
