<% include ../myheader.html %>
	<section id="zy-manageArticle">
		<% include ../nav.html %>
			<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered zy-manage-article">
				<% include articleNav.html %>
					<div class="col-lg-9 am-u-lg-9 zy-show-lg-content">
						<!-- <div class="am-show-md-only">
					<ul class="am-nav am-nav-tabs">
					  <li class="am-active"><a href="#">首页</a></li>
					  <li><a href="#">项目</a></li>
					  <li class="am-dropdown" data-am-dropdown>
					    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
					      菜单 <span class="am-icon-caret-down"></span>
					    </a>
					    <ul class="am-dropdown-content">
				            <li><a href="#">1. 一行代码，简单快捷</a></li>
				            <li class="am-active"><a href="#">2. 网址不变且唯一</a></li>
				            <li><a href="#">3. 内容实时同步更新</a></li>
					    </ul>
					  </li>
					</ul>
				</div>
				<div id="amz-offcanvas" class="am-offcanvas">
					<section class="amz-sidebar am-offcanvas-bar">
						<ul class="am-list am-list-border">
						  	<li><a href="#">基本样式1</a></li>
						  	<li><a href="#">基本样式1</a></li>
						  	<li><a href="#">基本样式1</a></li>
						  	<li><a href="#">基本样式1</a></li>
						  	<li><a href="#">基本样式1</a></li>
						</ul>
					</section>
				</div> -->
						<table class="am-table am-table-striped am-table-hover am-table-centered">
							<% if (allArticles.length>0) { %>
								<thead>
									<tr class="am-primary">
										<th>序号</th>
										<th>博文名称</th>
										<th>博文类型</th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<% for(var i=0; i<allArticles.length; i++) {%>
										<tr>
											<td>
												<%= i+1 %>
											</td>
											<td>
												<%= allArticles[i].articleTitle %>
											</td>
											<td>
												<% if(allArticles[i].articleType=='1') { %>
													技术博客
													<% } else if(allArticles[i].articleType=='2'){ %>
														行业远瞻
														<% }else { %>
															乱七八糟
															<% } %>
											</td>
											<td>
												<%= allArticles[i].cTime.getFullYear()+'-'+allArticles[i].cTime.getMonth()+'-'+allArticles[i].cTime.getDate()+' '+allArticles[i].cTime.getHours()+':'+allArticles[i].cTime.getMinutes()+':'+allArticles[i].cTime.getSeconds() %>
											</td>
											<td><a href="#">删除</a>&nbsp&nbsp&nbsp&nbsp<a href="#">操作</a></td>
										</tr>
										<% } %>
								</tbody>
								<% } %>
						</table>
						<div id="pageShow" style="<% if(allArticles.length<=1) { %>display:none;<% } %>">
							<ul class="am-pagination am-pagination-right">
								<li class="am-disabled"><a href="#">&laquo;</a></li>
								<li class="am-active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</div>
					</div>
			</div>
	</section>
	<!-- <a class="am-icon-btn am-icon-bars am-show-sm-only amz-sidebar-toggle" data-am-offcanvas="" href="#amz-offcanvas"><span class="am-sr-only">侧栏导航</span></a> -->
	<% include ../myfooter.html %>
