<% include ../myheader.html %>
<% include ../nav.html %>

<section id="zy-navgation">
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<div class="col-lg-3 am-u-lg-3 am-show-lg-only zy-show-lg-nav">
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title">快速导航</h2>
			</div>
			<div>
				<ul class="am-list am-list-border zy-navTitle-list">
					<% if (allNavgition) { %>
						<% for(var i=0; i<allNavgition.models.length; i++) {%>
							<li><a href="#"><span><%= allNavgition.models[i].modelsName %></span>（<%= allNavgition.models[i].modelsuns.length %>）</a></li>
						<% } %>
					<% } %>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title">模块编辑</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li>
						<a href="javascript:;" data-am-modal="{target: '#my-addnavmodel'}">添加模块</a>
					</li>
					<li>
						<a href="javascript:;" data-am-modal="{target: '#my-removenavmodel'}">删除模块</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-9 am-u-lg-9 zy-show-lg-content">
			<div class="zy-navigation-list">
				<% if (allNavgition) { %>
					<% for(var i=0; i<allNavgition.models.length; i++) {%>
						<div class="zy-module-container">
						<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
							<button class="am-btn am-btn-primary am-btn-xl">
								<%= allNavgition.models[i].modelsName %>
							</button>
						</div>
						<% for(var j=0; j<allNavgition.models[i].modelsuns.length; j++) {%>
							<div class="col-md-4 am-u-md-4 col-sm-6 am-u-sm-6 zy-navigation-item">
								<!-- <div>
									<a href="<%= allNavgition.models[i].modelsuns[j].sunUrl %>">
										<%= allNavgition.models[i].modelsuns[j].sunName %>
									</a>
									<br>
									<%= allNavgition.models[i].modelsuns[j].sunDesc %>
								</div> -->
								<div class="am-alert am-alert-secondary">
									<button type="button" class="J_zy-module-close am-close">
										<i class="am-icon-close"></i>
									</button>
									<div class="zy-module-con">
										<a href="<%= allNavgition.models[i].modelsuns[j].sunUrl %>">
											<%= allNavgition.models[i].modelsuns[j].sunName %>
										</a><br>
										<%= allNavgition.models[i].modelsuns[j].sunDesc %>
									</div>
									<!-- <div style="font-size:2rem;text-align:center;">添加模块</div> -->
								</div>
							</div>
						<% } %>
							<div class="col-md-4 am-u-md-4 col-sm-6 am-u-sm-6 zy-navigation-item zy-navigation-add-ele am-u-end">
								<!-- <div>
									<button type="button" class="J_zy-datamodal"><img style="width:7rem;" src="/images/add.jpg"></button>
								</div> -->
								<div class="am-alert am-alert-secondary J_zy-datamodal">
									<div style="font-size:2rem;text-align:center;">添加模块</div>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
	<!-- 添加模块 -->
	<div class="am-modal-actions" id="my-addnavmodel">
		<div class="am-modal-actions-group">
			<ul class="am-list">
				<li class="am-modal-actions-danger">
					<br>
					<div class="am-u-lg-6 am-u-md-8  am-u-sm-centered">
						<form class="am-form am-form-horizontal">
							<div class="am-form-group">
								<label class="am-u-sm-2 am-form-label">模块名称：</label>
								<div class="am-u-sm-10">
									<input type="text" required class="addmodelNameA" placeholder="请输入模块名称">
								</div>
							</div>
							<div class="am-form-group">
								<div class="am-u-sm-12">
									<button type="button" class="addmodelNameA-btn am-btn am-btn-primary"> 确认添加 </button>
								</div>
							</div>
						</form>
					</div>
				</li>
			</ul>
		</div>
		<!-- <div class="am-modal-actions-group">
			<button class="am-btn am-btn-danger am-btn-block" data-am-modal-close>关闭</button>
		</div> -->
	</div>
	<!-- 删除模块 -->
	<div class="am-modal-actions" id="my-removenavmodel">
		<div class="am-modal-actions-group">
			<ul class="am-list">
				<li class="am-modal-actions-danger">
					<br>
					<div class="am-u-lg-6 am-u-md-8  am-u-sm-centered">
						<form class="am-form am-form-horizontal">
							<div class="am-form-group">
								<label class="am-u-sm-2 am-form-label">模块名称：</label>
								<div class="am-u-sm-10">
									<select class="addmodelNameD" required>
										<% if (allNavgition) { %>
											<% for(var i=0; i<allNavgition.models.length; i++) {%>
												<option value="<%= allNavgition.models[i].modelsName %>">
													<%= allNavgition.models[i].modelsName %>
												</option>
											<% } %>
										<% } %>
									</select>
									<span class="am-form-caret"></span>
								</div>
							</div>
							<div class="am-form-group">
								<div class="am-u-sm-12">
									<button type="button" class="delmodelNameA-btn am-btn am-btn-primary"> 确认删除 </button>
								</div>
							</div>
						</form>
					</div>
				</li>
			</ul>
		</div>
		<!-- <div class="am-modal-actions-group">
			<button class="am-btn am-btn-danger am-btn-block" data-am-modal-close>关闭</button>
	 	</div> -->
	</div>

	<div class="am-popup" id="my-navpopup">
		<div class="am-popup-inner">
			<div class="am-popup-hd">
				<h4 class="am-popup-title">资源导航模块添加</h4>
				<span data-am-modal-close class="am-close am-close-alt am-close-spin am-icon-times"></span>
			</div>
			<div class="am-u-lg-12 am-u-sm-centered am-popup-bd">
				<br>
				<br>
				<br>
				<form class="am-form am-form-horizontal" data-am-validator>
					<div class="am-form-group">
						<label class="am-u-sm-3 am-form-label">模块名称：</label>
						<div class="am-u-sm-9">
							<input type="text" required class="moduleName" placeholder="请输入module的名称！">
						</div>
					</div>
					<div class="am-form-group">
						<label class="am-u-sm-3 am-form-label">模块说明：</label>
						<div class="am-u-sm-9">
							<textarea placeholder="请输入module的说明信息！" required class="moduleInfo" rows="5"></textarea>
						</div>
					</div>
					<div class="am-form-group">
						<label class="am-u-sm-3 am-form-label">模块链接：</label>
						<div class="am-u-sm-9">
							<input type="text" class="moduleLink" required placeholder="请输入模块链接！">
						</div>
					</div>
					<br>
					<div class="am-form-group">
						<div class="am-u-sm-9 am-u-sm-offset-3">
							<button type="button" class="am-btn am-btn-warning">提交确认</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>	
</section>

<% include ../myfooter.html %>