<% include ../myheader.html %>
<% include ../nav.html %>

<section id="zy-navgation">
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<div class="col-lg-3 am-u-lg-3 am-show-lg-only zy-show-lg-nav">
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title">快速导航</h2>
			</div>
			<div>
				<ul class="am-list am-list-border zy-navTitle-list">
					<% if (locals.allNavgition) { %>
						<% for(var i=0; i<allNavgition.models.length; i++) {%>
							<li><a href="#<%= allNavgition.models[i].maoName %>"><span><%= allNavgition.models[i].modelsName %></span>（<%= allNavgition.models[i].modelsuns.length %>）</a></li>
						<% } %>
					<% } %>
				</ul>
			</div>
			<% if(locals.signed && signed=='1'){ %>
				<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
					<h2 class="am-titlebar-title">模块编辑</h2>
				</div>
				<div>
					<ul class="am-list am-list-border">
						<li>
							<a href="javascript:void(0);" data-am-modal="{target: '#my-addnavmodel'}">添加模块</a>
						</li>
						<li>
							<a href="javascript:void(0);" data-am-modal="{target: '#my-removenavmodel'}">删除模块</a>
						</li>
					</ul>
				</div>
			<% } %>
		</div>
		<div class="col-lg-9 am-u-lg-9 zy-show-lg-content">
			<div class="zy-navigation-list">
				<% if (locals.allNavgition) { %>
					<% for(var i=0; i<allNavgition.models.length; i++) {%>
						<div class="zy-module-container" data-_id="<%= allNavgition.models[i]._id %>">
						<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
							<a name="<%= allNavgition.models[i].maoName %>">
								<button class="am-btn am-btn-secondary am-btn-xl">
									<%= allNavgition.models[i].modelsName %>
								</button>
							</a>
						</div>
						<% for(var j=0; j<allNavgition.models[i].modelsuns.length; j++) {%>
							<div class="col-md-4 am-u-md-4 col-sm-6 am-u-sm-6 zy-navigation-item am-u-end">
								<div class="am-alert am-alert-secondary">
									<% if(locals.signed && signed=='1'){ %>
										<button type="button" class="J_zy-module-close am-close">
											<i class="am-icon-close"></i>
										</button>
									<% } %>
									<div data-_id="<%= allNavgition.models[i].modelsuns[j]._id %>" class="zy-module-con" data-am-popover="{theme:'success sm',content:'<%= allNavgition.models[i].modelsuns[j].sunDesc %>',trigger: 'hover focus'}">
										<a href="<%= allNavgition.models[i].modelsuns[j].sunUrl %>" target="_blank">
											<%= allNavgition.models[i].modelsuns[j].sunName %>
										</a><br>
										<div class="zy-module-tip">
											<%= allNavgition.models[i].modelsuns[j].sunDesc %>
										</div>
									</div>
								</div>
							</div>
						<% } %>
							<% if(locals.signed && signed=='1'){ %>
								<div class="col-md-4 am-u-md-4 col-sm-6 am-u-sm-6 zy-navigation-item zy-navigation-add-ele am-u-end">
									<div class="am-alert am-alert-secondary J_zy-datamodal">
										<div style="padding:1.2rem 0;font-size:1.5rem;text-align:center;">添加模块</div>
									</div>
								</div>	
							<% } %>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>

	<% if(locals.signed && signed=='1'){ %>
	<!-- 添加模块 -->
	<div class="am-modal-actions" id="my-addnavmodel">
		<div class="am-modal-actions-group">
			<ul class="am-list">
				<li class="am-modal-actions-danger">
					<br>
					<div class="am-u-lg-6 am-u-md-8  am-u-sm-centered">
						<form class="am-form am-form-horizontal" autocomplete ='off' >
							<div class="am-form-group">
								<label class="am-u-sm-2 am-form-label">模块名称：</label>
								<div class="am-u-sm-10">
									<input type="text" required class="addmodelNameA" placeholder="请输入模块名称">
								</div>
							</div>
							<div class="am-form-group">
								<div class="am-u-sm-12">
									<button type="button" class="addmodelNameA-btn am-btn am-btn-primary"> 确认添加 </button>
								</div>
							</div>
						</form>
					</div>
				</li>
			</ul>
		</div>
		<!-- <div class="am-modal-actions-group">
			<button class="am-btn am-btn-danger am-btn-block" data-am-modal-close>关闭</button>
		</div> -->
	</div>
	<!-- 删除模块 -->
	<div class="am-modal-actions" id="my-removenavmodel">
		<div class="am-modal-actions-group">
			<ul class="am-list">
				<li class="am-modal-actions-danger">
					<br>
					<div class="am-u-lg-6 am-u-md-8  am-u-sm-centered">
						<form class="am-form am-form-horizontal" autocomplete ='off'>
							<div class="am-form-group">
								<label class="am-u-sm-2 am-form-label">模块名称：</label>
								<div class="am-u-sm-10">
									<select class="addmodelNameD" required>
										<% if (locals.allNavgition) { %>
											<% for(var i=0; i<allNavgition.models.length; i++) {%>
												<option value="<%= allNavgition.models[i]._id %>">
													<%= allNavgition.models[i].modelsName %>
												</option>
											<% } %>
										<% } %>
									</select>
									<span class="am-form-caret"></span>
								</div>
							</div>
							<div class="am-form-group">
								<div class="am-u-sm-12">
									<button type="button" class="delmodelNameA-btn am-btn am-btn-primary"> 确认删除 </button>
								</div>
							</div>
						</form>
					</div>
				</li>
			</ul>
		</div>
		<!-- <div class="am-modal-actions-group">
			<button class="am-btn am-btn-danger am-btn-block" data-am-modal-close>关闭</button>
	 	</div> -->
	</div>

	<div class="am-popup" id="my-navpopup">
		<div class="am-popup-inner">
			<div class="am-popup-hd">
				<h4 class="am-popup-title">资源导航模块添加</h4>
				<span data-am-modal-close class="am-close am-close-alt am-close-spin am-icon-times"></span>
			</div>
			<div class="am-u-lg-12 am-u-sm-centered am-popup-bd">
				<form class="am-form am-form-horizontal" data-am-validator autocomplete ='off' >
					<div class="am-form-group">
						<label class="am-u-sm-3 am-form-label">模块名称：</label>
						<div class="am-u-sm-9">
							<input type="text" maxlength="10" required class="moduleName" placeholder="请输入module的名称！">
						</div>
					</div>
					<div class="am-form-group">
						<label class="am-u-sm-3 am-form-label">模块说明：</label>
						<div class="am-u-sm-9">
							<textarea maxlength="50" placeholder="请输入module的说明信息(最大50的字)！" required class="moduleInfo" rows="5"></textarea>
						</div>
					</div>
					<div class="am-form-group">
						<label class="am-u-sm-3 am-form-label">模块链接：</label>
						<div class="am-u-sm-9">
							<input type="text" class="moduleLink" required placeholder="请输入模块链接！">
						</div>
					</div>
					<br>
					<div class="am-form-group">
						<div class="am-u-sm-9 am-u-sm-offset-3">
							<button type="button" class="am-btn am-btn-primary">提交确认</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<% } %>	
</section>

<br><br><br>

<% include ../myfooter.html %>