
<section class="zy-resume-module">

	<div class="am-g am-u-lg-3 am-u-md-12  am-u-sm-centered">
		<div class="am-alert am-alert-secondary">
			<button type="button" class="am-close" data-am-modal="{target: '#my-repractice'}"><i class="am-icon-pencil"></i></button>
			<div style="font-size:30px;text-align:center;">实习经历</div>
		</div>
	</div>

	<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
		<% if(rs.experience4.length>=0) { %>
		<% for(var k=0,len=rs.experience4.length; k<len; k++) {%>
			<div class="col-lg-4 am-u-lg-4 am-u-end">
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-bd">
						<ul class="am-list">
							<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
								<div class="am-u-sm-4 am-list-thumb">
									<a href="#">
										<img style="width:100%;height:10rem;" src="<%= rs.experience4[k].companyLogo %>" />
									</a>
								</div>
								<div class=" am-u-sm-8 am-list-main">
									<h3 class="am-list-item-hd"><a href="#" class="">
									名称：<%= rs.experience4[k].practice %></a></h3>
									<div class="am-list-item-text">介绍：<%= rs.experience4[k].practiceinstr %></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		<% } %>
		<% } %>
	</div>

	<div class="am-popup" id="my-repractice">
		<div class="am-popup-inner">
			<div class="am-popup-hd">
				<h4 class="am-popup-title">实习经历</h4>
				<span data-am-modal-close class="am-close am-close-alt am-close-spin am-icon-times"></span>
			</div>
			<div class="am-popup-bd">
				<br>
				<form class="am-form am-form-horizontal" method="post" data-am-validator autocomplete ='off'>
					<div class="J_operate-sel">
						<div class="am-form-group">
							<label class="am-u-sm-3 am-form-label">操作方式：</label>
							<div class="am-u-sm-9">
								<select required class="select1">
									<option value=""  selected = "selected">请选择操作哪项？</option>
									<option value="1">添加操作</option>
									<option value="2">删除操作</option>
									<option value="3">修改操作</option>
								</select>
							    <span class="am-form-caret"></span>
							</div> 
						</div>
		            	<br>
		    	        <div class="am-form-group J_change-con" style="display:none;">
		    	            <label class="am-u-sm-3 am-form-label">修改选项：</label>
		    	            <div class="am-u-sm-9">
		    	                <select required class="select2">
		    						<option value="" selected = "selected">请选择修改哪项？</option>
	    							<% if(rs.experience4.length>=0) { %>
	    								<% for(var i=0; i<rs.experience4.length; i++) { %>
	    									<option value="<%= i %>"><%= rs.experience4[i].practice %></option>
	    								<% } %>
	    							<% } %>	
		    	                </select>
		    	                <span class="am-form-caret"></span>
		    	            </div>  
		    	        </div>
		    	        <br>
			        </div>

	              	<div class="J_operate-del" style="display:none">
		                <div class="am-form-group">
		                    <label class="am-u-sm-3 am-form-label">删除选项：</label>
		                    <div class="am-u-sm-9">
		                        <select required>
									<option value="" selected = "selected">请选择删除哪项？</option>
									<% if(rs.experience4.length>=0) { %>
										<% for(var i=0; i<rs.experience4.length; i++) { %>
											<option value="<%= i %>"><%= rs.experience4[i].practice %></option>
										<% } %>
									<% } %>	
		                        </select>
		                        <span class="am-form-caret"></span>
		                    </div>  
		                </div>
		                <div class="am-form-group">
		                    <div class="am-u-sm-9 am-u-sm-offset-3">
		                        <button type="button" class="am-btn am-btn-primary my-education3-btn"> 确定删除 </button>
		                    </div>
		                </div>
	                </div>
	            </form>

	            <form class="am-form am-form-horizontal" id="specialInstruc4" enctype='multipart/form-data' name="/resume/repractice/upd" action="/resume/repractice/add" method="post" data-am-validator autocomplete ='off'>
	            	<div class="J_operate-add" style="display:none">
						<div class="am-form-group">
							<label class="am-u-sm-3 am-form-label">公司名称：</label>
							<div class="am-u-sm-9">
								<input type="text" class="practice" value="" name="practice" required placeholder="请输入您的司名称">
							</div>
						</div>
						<div class="am-form-group">
							<label class="am-u-sm-3 am-form-label">开始日期：</label>
							<div class="am-u-sm-9">
								<input type="text" value="" class="am-form-field spracticetime" placeholder="请输入开始日期" name="spracticetime" data-am-datepicker readonly/>
							</div>
						</div>
						<div class="am-form-group">
							<label class="am-u-sm-3 am-form-label">结束日期：</label>
							<div class="am-u-sm-9">
								<input type="text" value="" class="am-form-field epracticetime" placeholder="请输入结束日期" name="epracticetime" data-am-datepicker readonly/>
							</div>
						</div>
						<div class="am-form-group">
							<label class="am-u-sm-3 am-form-label">我的职位：</label>
							<div class="am-u-sm-9">
								<input type="text" value="" required class="am-form-field practiceposition" name="practiceposition" placeholder="请输入您的职位" />
							</div>
						</div>
						<div class="am-form-group">
							<label class="am-u-sm-3 am-form-label">所在部门：</label>
							<div class="am-u-sm-9">
								<input type="text" value="" required name="departmentName" class="am-form-field departmentName" placeholder="请输入您所在的部门名称" />
							</div>
						</div>
						<div class="am-form-group">
							<label class="am-u-sm-3 am-form-label">我的工作：</label>
							<div class="am-u-sm-9">
								<textarea rows="3 " value="" placeholder="主要工作+薪资待遇等" required name="practiceinstr" class="practiceinstr"></textarea>
							</div>
						</div>
						<div class="am-form-group am-form-file">
							<label class="am-u-sm-3 am-form-label">公司logo：</label>
							<div class="am-u-sm-9">
								<button type="button" class="am-btn am-btn-default am-btn-sm">
									<i class="am-icon-cloud-upload"></i> 上传图片</button>
								<input type="file" value="" id="inputFile4" name="inputFile4">
								<div class="imgtip"></div>
							</div>
						</div>
						<input type="hidden"  class="J_hidden-ipt" name="J_hidden_ipt" value="">
						<div class="am-form-group">
							<div class="am-u-sm-9 am-u-sm-offset-3">
								<button id="upload4" class="am-btn am-btn-primary"> 提交信息 </button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</section>
