<br><br><br><br><br><br>

<div class="am-g am-u-lg-3 am-u-md-12  am-u-sm-centered">
	<div class="am-alert am-alert-secondary" data-am-alert>
		<button type="button" class="am-close" data-am-modal="{target: '#my-projects'}"><i class="am-icon-pencil"></i></button>
		<div style="font-size:30px;text-align:center;">项目经历</div>
	</div>
</div>
<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">

	<% for(var i=1,len=14; i<=len; i++) { %>
		<% if (i%3==1) { %>
			<div data-am-widget="tabs" class="am-tabs am-tabs-d2">
				<ul class="am-tabs-nav am-cf">
					<% if(i+2<=len) { %>
						<li class="am-active"><a href="[data-tab-panel-<%= i %>]">项目<%= i %></a></li>
						<li class=""><a href="[data-tab-panel-<%= i %>]">项目<%= i+1 %></a></li>
						<li class=""><a href="[data-tab-panel-<%= i %>]">项目<%= i+2 %></a></li>
					<% }else{ %>
						<% for(var k=i;k<=len;k++) { %>
							<% if(k==i) { %>
								<li class="am-active"><a href="[data-tab-panel-<%= k %>]">项目<%= k %></a></li>
							<% }else{ %>
								<li class=""><a href="[data-tab-panel-<%= k %>]">项目<%= k %></a></li>
							<% } %>
						<% } %>
					<% } %>
				</ul>
				<div class="am-tabs-bd">
					<div data-tab-panel-<%= i %> class="am-tab-panel am-active">
						<h3>项目题目：第三发生华盛顿</h3>
						<p>
							<font style="font-weight:bold;">时间：</font>2015-09-21
							<font style="font-weight:bold;padding-left:5rem;">部门：</font>前端开发工程师
							<font style="font-weight:bold;padding-left:5rem;">职位：</font>电子商务部
						</p>
						<p>
							<font style="font-weight:bold">简明介绍：</font><br>
							多少房间的就多少房间的就是解放大就是就是地方可就是大家发生地方会及时到福建省会计师对回复及时答复和加快第三方地方鬼地方个地方官德国法国豆腐干豆腐官方大哥大法官是解放大就是就是地方可就是大家发生地方会及时到福建省会计师对回复及时答复和加快第三方地方鬼地方个地方官德国法国豆腐干豆腐官方大哥大法官
						</p>
					</div>
		<% }else if(i%3==0){ %>
				<div data-tab-panel-<%= i %> class="am-tab-panel">
					<h3>项目题目：第三发生华盛顿</h3>
					<p>
						<font style="font-weight:bold;">时间：</font>2015-09-21
						<font style="font-weight:bold;padding-left:5rem;">部门：</font>前端开发工程师
						<font style="font-weight:bold;padding-left:5rem;">职位：</font>电子商务部
					</p>
					<p>
						<font style="font-weight:bold">简明介绍：</font><br>
						多少房间的就多少房间的就是解放大就是就是地方可就是大家发生地方会及时到福建省会计师对回复及时答复和加快第三方地方鬼地方个地方官德国法国豆腐干豆腐官方大哥大法官是解放大就是就是地方可就是大家发生地方会及时到福建省会计师对回复及时答复和加快第三方地方鬼地方个地方官德国法国豆腐干豆腐官方大哥大法官
					</p>
				</div>
			</div>
			</div>
		<% }else if(i==len){ %>
				<div data-tab-panel-<%= i %> class="am-tab-panel">
					<h3>项目题目：第三发生华盛顿</h3>
					<p>
						<font style="font-weight:bold;">时间：</font>2015-09-21
						<font style="font-weight:bold;padding-left:5rem;">部门：</font>前端开发工程师
						<font style="font-weight:bold;padding-left:5rem;">职位：</font>电子商务部
					</p>
					<p>
						<font style="font-weight:bold">简明介绍：</font><br>
						多少房间的就多少房间的就是解放大就是就是地方可就是大家发生地方会及时到福建省会计师对回复及时答复和加快第三方地方鬼地方个地方官德国法国豆腐干豆腐官方大哥大法官是解放大就是就是地方可就是大家发生地方会及时到福建省会计师对回复及时答复和加快第三方地方鬼地方个地方官德国法国豆腐干豆腐官方大哥大法官
					</p>
				</div>
			</div>
			</div>
		<% }else{ %>
			<div data-tab-panel-<%= i %> class="am-tab-panel">
				<h3>项目题目：第三发生华盛顿</h3>
				<p>
					<font style="font-weight:bold;">时间：</font>2015-09-21
					<font style="font-weight:bold;padding-left:5rem;">部门：</font>前端开发工程师
					<font style="font-weight:bold;padding-left:5rem;">职位：</font>电子商务部
				</p>
				<p>
					<font style="font-weight:bold">简明介绍：</font><br>
					多少房间的就多少房间的就是解放大就是就是地方可就是大家发生地方会及时到福建省会计师对回复及时答复和加快第三方地方鬼地方个地方官德国法国豆腐干豆腐官方大哥大法官是解放大就是就是地方可就是大家发生地方会及时到福建省会计师对回复及时答复和加快第三方地方鬼地方个地方官德国法国豆腐干豆腐官方大哥大法官
				</p>
			</div>
		<% } %>
	<% } %>

</div>
<div class="am-popup" id="my-projects">
	<div class="am-popup-inner">
		<div class="am-popup-hd">
			<h4 class="am-popup-title">项目经历</h4>
			<span data-am-modal-close class="am-close am-close-alt am-close-spin am-icon-times"></span>
		</div>
		<div class="am-popup-bd">
			<br>
			<form class="am-form am-form-horizontal" method="post" data-am-validator>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">项目名称：</label>
					<div class="am-u-sm-9">
						<input type="text" class="pname" required placeholder="请输入项目名称">
					</div>
				</div>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">日期：</label>
					<div class="am-u-sm-9">
						<input type="text" class="am-form-field ptime" placeholder="请选择日期" data-am-datepicker readonly />
					</div>
				</div>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">补充说明：</label>
					<div class="am-u-sm-9">
						<textarea rows="3 " class="paddt"></textarea>
					</div>
				</div>
				<div class="am-form-group">
					<div class="am-u-sm-9 am-u-sm-offset-3">
						<button type="button" class="am-btn am-btn-primary my-projects-btn"> 提交信息 </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
