<br>
<br>
<br>
<br>
<br>
<br>
<div class="am-g am-u-lg-3 am-u-md-12  am-u-sm-centered">
	<div class="am-alert am-alert-secondary">
		<button type="button" class="am-close" data-am-modal="{target: '#my-description'}"><i class="am-icon-pencil"></i></button>
		<div style="font-size:30px;text-align:center;">核心技能</div>
	</div>
</div>
<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
	<div class="am-panel am-panel-default">
		<div class="am-panel-hd">
			<h3 class="am-panel-title">个人核心技能</h3>
		</div>
		<!-- <div class="am-panel-bd">
          个人核心技能模块主要是对个人的常用技术能力进行阐述，可包括所会使用的工具，语言等......
          如下所示：
        </div> -->
		<ul class="am-list am-list-static">
			<% if(rs.Technology11) { %>
				<% for(var i=0; i<rs.Technology11.length; i++) {%>
					<li>
						<a href="javascript:;"><span class="am-badge am-badge-success am-radius"><%=i+1%></span>&nbsp; <%=rs.Technology11[i]%></a>
					</li>
				<% } %>
			<% } %>
		</ul>
	</div>
</div>

<div class="am-modal-actions" id="my-description">
	<div class="am-modal-actions-group">
		<ul class="am-list">
			<li class="am-modal-actions-danger">
				<br>
				<div class="am-u-lg-6 am-u-md-8  am-u-sm-centered">
					<form class="am-form am-form-horizontal" method="post">
						<div class="am-form-group">
							<label class="am-u-sm-2 am-form-label">核心技能：</label>
							<div class="am-u-sm-10">
								<textarea class="descriptioncon" rows="4" placeholder="每次添加一条技能"></textarea>
							</div>
						</div>
						<div class="am-form-group">
							<div class="am-u-sm-12">
								<button type="button" class="am-btn am-btn-primary  my-description-btn"> 提交信息 </button>
							</div>
						</div>
					</form>
				</div>
			</li>
		</ul>
	</div>
	<!-- <div class="am-modal-actions-group">
      	<button class="am-btn am-btn-danger am-btn-block" data-am-modal-close>关闭</button>
    </div> -->
</div>
