<br>
<br>
<br>
<br>
<br>
<br>
<div class="am-g am-u-lg-3 am-u-md-12  am-u-sm-centered">
	<div class="am-alert am-alert-secondary">
		<button type="button" class="am-close" data-am-modal="{target: '#my-works'}"><i class="am-icon-pencil"></i></button>
		<div style="font-size:30px;text-align:center;">个人作品</div>
	</div>
</div>
<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
	<div class="col-lg-4 am-u-lg-4">
		<div data-am-widget="slider" class="am-slider am-slider-d2" data-am-slider='{"directionNav":false}'>
			<ul class="am-slides">
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">远方 有一个地方 那里种有我们的梦想</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">某天 也许会相遇 相遇在这个好地方</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">不要太担心 只因为我相信 终会走过这条遥远的道路</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">OH PARA PARADISE 是否那么重要 你是否那么地遥远</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-4 am-u-lg-4">
		<div data-am-widget="slider" class="am-slider am-slider-d2" data-am-slider='{"directionNav":false}'>
			<ul class="am-slides">
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">远方 有一个地方 那里种有我们的梦想</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">某天 也许会相遇 相遇在这个好地方</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">不要太担心 只因为我相信 终会走过这条遥远的道路</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">OH PARA PARADISE 是否那么重要 你是否那么地遥远</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-4 am-u-lg-4">
		<div data-am-widget="slider" class="am-slider am-slider-d2" data-am-slider='{"directionNav":false}'>
			<ul class="am-slides">
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">远方 有一个地方 那里种有我们的梦想</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">某天 也许会相遇 相遇在这个好地方</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">不要太担心 只因为我相信 终会走过这条遥远的道路</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
				<li>
					<img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
					<div class="am-slider-desc">
						<div class="am-slider-content">
							<h2 class="am-slider-title">OH PARA PARADISE 是否那么重要 你是否那么地遥远</h2>
							<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p>
						</div><a class="am-slider-more">了解更多</a></div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="am-popup" id="my-works">
	<div class="am-popup-inner">
		<div class="am-popup-hd">
			<h4 class="am-popup-title">我的作品</h4>
			<span data-am-modal-close class="am-close am-close-alt am-close-spin am-icon-times"></span>
		</div>
		<div class="am-popup-bd">
			<br>
			<form class="am-form am-form-horizontal" id="specialInstruc2" enctype='multipart/form-data' action="/resume/works" method="post" data-am-validator>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">作品名称：</label>
					<div class="am-u-sm-9">
						<input type="text" required name="workname" class="workname" placeholder="输入作品名称">
					</div>
				</div>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">作品日期：</label>
					<div class="am-u-sm-9">
						<input type="text" name="worktime" class="am-form-field worktime" placeholder="请选择作品日期" data-am-datepicker readonly/>
					</div>
				</div>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">我的职责：</label>
					<div class="am-u-sm-9">
						<input type="text" name="workduty" class="workduty" placeholder="输入你的职责">
					</div>
				</div>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">作品展示链接：</label>
					<div class="am-u-sm-9">
						<input type="url" name="showink" class="showink" placeholder="输入作品展示链接">
					</div>
				</div>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">作品源码链接：</label>
					<div class="am-u-sm-9">
						<input type="url" name="codelink" class="codelink" placeholder="输入作品源码链接">
					</div>
				</div>
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">作品介绍：</label>
					<div class="am-u-sm-9">
						<textarea rows="5" name="workdes" class="workdes" required></textarea>
					</div>
				</div>
				<div class="am-form-group am-form-file">
					<label class="am-u-sm-3 am-form-label">作品图片：</label>
					<div class="am-u-sm-9">
						<button type="button" class="am-btn am-btn-default am-btn-sm">
							<i class="am-icon-cloud-upload"></i> 上传作品图片(可同时上传多张)</button>
						<input type="file" id="inputFile2" name="inputFile2" multiple>
						<div class="imgtip"></div>
					</div>
				</div>
				<br>
				<div class="am-form-group">
					<div class="am-u-sm-9 am-u-sm-offset-3">
						<button id="upload2" class="am-btn am-btn-warning my-works-btn"> 提交信息 </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
