<% include header.html %>

<div class="get">
	<div class="am-g">
		<div class="am-u-lg-12">
			<h1 class="get-title">人人秀&nbsp;&nbsp;一个服务于大众的自我展示平台</h1>
			<p>期待你的参与，共同打造一个简单易用的自我平台</p>
			<h1><a href="/register" class="zy-regis-getBtn">立马拥有</a></h1>
		</div>
	</div>
</div>

<div class="detail">
  	<div class="am-g am-container">
    	<div class="am-u-lg-12">
      		<h2 class="detail-h2">One Web 、Any Device，期待和你一起去实现!</h2>
      		<div class="am-g">
        		<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          			<h3 class="detail-h3">
            			<i class="am-icon-mobile am-icon-sm"></i>简约而不简单
          			</h3>
          			<p class="detail-p">
            			人人秀 采用业内先进的 mobile first 理念，从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。
          			</p>
        		</div>
		        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
		          	<h3 class="detail-h3">
		            	<i class="am-icon-cogs am-icon-sm"></i>干净无污染
		          	</h3>
		          	<p class="detail-p">
		            	人人秀 含近 20 个 CSS 组件、10 个 JS 组件，更有 17 款包含近 60 个主题的 Widgets，可快速构建界面出色、体验优秀的跨屏页面，大幅度提升你的开发效率。
		          	</p>
		        </div>
        		<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          			<h3 class="detail-h3">
            			<i class="am-icon-check-square-o am-icon-sm"></i>个人自由发挥
          			</h3>
          			<p class="detail-p">
            			相比国外的前端框架，人人秀 专注解决中文排版优化问题，根据操作系统调整字体，实现最佳中文排版效果；针对国内主流浏览器及 App 内置浏览器提供更好的兼容性支持，为你节省大量兼容性调试时间。
          			</p>
        		</div>
        		<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
         			<h3 class="detail-h3">
            			<i class="am-icon-send-o am-icon-sm"></i>公开自由设置
          			</h3>
          			<p class="detail-p">
            			人人秀 非常注重性能，基于轻量的 Zepto.js 开发，并使用 CSS3 来做动画交互，平滑、高效，更适合移动设备，让你的 Web 应用可以高速载入。
          			</p>
        		</div>
      		</div>
    	</div>
  	</div>
</div>

<div class="hope">
  	<div class="am-g am-container">
    	<div class="am-u-lg-4 am-u-md-6 am-u-sm-12 hope-img">
      		<img src="/images/landing.png" alt="" data-am-scrollspy="{animation:'slide-left', repeat: false}">
      		<hr class="am-article-divider am-show-sm-only hope-hr">
    	</div>
	    <div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
	     	<h2 class="hope-title">同我们一起打造属于你自己的平台</h2>
	      	<p>
	        	在知识爆炸的年代，我们不愿成为知识的过客，拥抱开源文化，发挥平台的力量，参与到人人秀平台来获得自我提升。
	      	</p>
	    </div>
  	</div>
</div>

<div class="about">
  	<div class="am-g am-container">
    	<div class="am-u-lg-12">
      		<h2 class="about-title about-color">人人秀平台 崇尚开放、自由，非常欢迎大家的参与</h2>
      		<div class="am-g">
        		<div class="am-u-lg-6 am-u-md-4 am-u-sm-12">
          			<form autocomplete ='off' class="am-form" id="zy-sendEmailForm">
            			<label for="name" class="about-color">你的姓名</label>
            			<input class="name" type="text" value="">
            			<br/>
            			<label for="email" class="about-color">你的邮箱</label>
            			<input class="email" type="email" value="">
           				<br/>
            			<label for="message" class="about-color">你的留言</label>
            			<textarea class="message" rows="4" value=""></textarea>
            			<br/>
            			<button type="button" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-check"></i> 提 交</button>
          			</form>
          			<hr class="am-article-divider am-show-sm-only">
        		</div>
        		<div class="am-u-lg-6 am-u-md-8 am-u-sm-12">
          			<h4 class="about-color">关于我们</h4>
          			<p>人人秀平台 (人人秀科技有限公司)由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家在美国西雅图创立，旨在解决网页在不同移动设备屏幕上的适配问题。基于国际专利技术并结合最前沿的HTML5技术，云适配解决方案可以帮助企业快速将桌面版网站适配到各种移动设备终端的屏幕上，不仅显著地提高了企业网站的用户体验以及销售转化率，而且大幅度地节省了企业开发和维护移动网站的费用。
        			</p>
          			<h4 class="about-color">团队介绍</h4>
          			<p>人人秀平台 获得了微软创投孵化器的支持，其领先科技已得到全球多家企业及机构的认可与信赖，客户包括全球500强企业、美国政府、国内政府机关、国内外上市公司、以及互联网标准化组织W3C。
          			</p>
        		</div>
      		</div>
    	</div>
  	</div>
</div>

<script>
  window.__data={
    uName:'<%= uName %>'
  }  
</script>

<% include footer.html %>