<% include header.html %>

<section class="zy-resource-sec">
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<div class="col-lg-6 am-u-lg-6">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
				<h2 style="color:#0e90d2">开发类技术博文</h2>
				<% if(arts1.length>10) {%>
					<a target="_blank" href="/blog_typ?typ=1">
						<span class="am-list-news-more am-fr">更多 &raquo;</span>
					</a>
				<% } %>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% for(var i=0; i<artsnum1;i++){ %>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/<%= arts1[i].author %>/blogs_art?aid=<%= arts1[i]._id %>" class="am-list-item-hd "><%= arts1[i].articleTitle %></a>
								<span class="am-list-date"><%= dateformat(arts1[i].cTime, 'YYYY-MM-DD') %></span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-6 am-u-lg-6">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
				<h2 style="color:#0e90d2">产品运营相关博文</h2>
				<% if(arts2.length>10) {%>
					<a target="_blank" href="/blog_typ?typ=2">
						<span class="am-list-news-more am-fr">更多 &raquo;</span>
					</a>
				<% } %>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% for(var i=0; i<artsnum2;i++){ %>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/<%= arts2[i].author %>/blogs_art?aid=<%= arts2[i]._id %>" class="am-list-item-hd "><%= arts2[i].articleTitle %></a>
								<span class="am-list-date"><%= dateformat(arts2[i].cTime, 'YYYY-MM-DD') %></span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<div class="col-lg-6 am-u-lg-6">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
				<h2 style="color:#0e90d2">UI设计相关博文</h2>
				<% if(arts3.length>10) {%>
					<a target="_blank" href="/blog_typ?typ=3">
						<span class="am-list-news-more am-fr">更多 &raquo;</span>
					</a>
				<% } %>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% for(var i=0; i<artsnum3;i++){ %>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/<%= arts3[i].author %>/blogs_art?aid=<%= arts3[i]._id %>" class="am-list-item-hd "><%= arts3[i].articleTitle %></a>
								<span class="am-list-date"><%= dateformat(arts3[i].cTime, 'YYYY-MM-DD') %></span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-6 am-u-lg-6">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
				<h2 style="color:#0e90d2">行业远瞻资讯</h2>
				<% if(arts4.length>10) {%>
					<a target="_blank" href="/blog_typ?typ=4">
						<span class="am-list-news-more am-fr">更多 &raquo;</span>
					</a>
				<% } %>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% for(var i=0; i<artsnum4;i++){ %>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/<%= arts4[i].author %>/blogs_art?aid=<%= arts4[i]._id %>" class="am-list-item-hd "><%= arts4[i].articleTitle %></a>
								<span class="am-list-date"><%= dateformat(arts4[i].cTime, 'YYYY-MM-DD') %></span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<% include footer.html %>
