<% include myheader.html %>

<style>
.am-article-bd img {
    display: inline-block;
}
</style>

<div class="am-g am-g-fixed zy-article-page">
    <article class="am-article" style="overflow:hidden;">
        <div class="am-article-hd">
            <h1 class="am-article-title"><%= resul.articleTitle %></h1>
            <p class="am-article-meta">
                <%= resul.author %> / 类型：技术博客 / 关键字：<%= resul.articleKeyword %>
            </p>
        </div>
        <div class="am-article-bd">
            <p class="am-article-lead">
                <%= resul.articleAbstract %>
                《永远的蝴蝶》是台湾著名作家陈启佑先生的一篇小小说。这是一篇散文化的微型小说，其语言具有较强的抒情色彩，立意含蓄隽永 。作品情节很简单，写的是一个凄美的爱情故事。在一个雨天，“我”的恋人樱子自愿帮“我”到马路对面去寄信。随着一阵拔尖的刹车声，樱子年轻的生命消逝了。
            </p>
            <%- resul.articleCont %>
        </div>
    </article>
</div>

<div class="am-g am-g-fixed zy-article-comment">
    <ul class="am-comments-list">
        <% for(var j=0; j<resul2.length; j++){ %>
            <li class="am-comment">
                <a href="#link-to-user-home">
                    <img src=" <%= resul2[j].authorImg %> " alt="" class="am-comment-avatar" width="48" height="48" />
                </a>
                <div class="am-comment-main">
                    <header class="am-comment-hd">
                        <div class="am-comment-meta">
                            <a href="#link-to-user" class="am-comment-author"><%= resul2[j].author %></a> 评论于
                            <time datetime="<%= resul2[j].cTime %>"><%= dateformat(resul2[j].cTime) %></time>
                        </div>
                    </header>
                    <div class="am-comment-bd"> <%= resul2[j].CommentCont %> </div>
                </div>
            </li>  
        <% } %>
    </ul>
</div>

<br><hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />

<div class="am-g am-g-fixed" id="zy-blog-com">
    <form class="am-form comFrom" data-artid="<%= resul._id %>" data-authorid="<%= resul.author %>">
        <label for="message" class="about-color">我的评论：</label>
        <textarea class="comment" rows="5"></textarea>
        <br/>
        <a class="am-btn am-btn-primary am-btn-sm zy-button1">提交评论</a>
        <a class="am-btn am-btn-default am-btn-sm" href="/login" target="_blank">去登录</a>
        <a class="am-btn am-btn-default am-btn-sm" href="/register" target="_blank">去注册</a>
    </form>
</div>

<br><br>

<% include myfooter.html %>
