<% include header.html %>

<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">

   <div class="am-u-sm-12">
    <div class="am-thumbnail">
      <img src="http://file108.mafengwo.net/s9/M00/E0/E7/wKgBs1Z5UMeAOENRAAfgycPkrQo12.jpeg?imageMogr2%2Finterlace%2F1" alt=""/>
      <div class="am-thumbnail-caption">
        <p>无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。</p>
        <p>无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。</p>
      </div>
    </div>
  </div>

  <div class="am-u-sm-4">
    <div class="am-thumbnail">
      <img src="http://file29.mafengwo.net/M00/15/B8/wKgBpVYF-PqAclQ2AA3iYSi3aCg39.groupinfo.w680.jpeg" alt=""/>
      <div class="am-thumbnail-caption">
        <h3>百年孤独选</h3>
        <p>无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。</p>
        <p>
          <button class="am-btn am-btn-primary">按钮</button>
          <button class="am-btn am-btn-default">按钮</button>
        </p>
      </div>
    </div>
  </div>

  <div class="am-u-sm-4">
    <div class="am-thumbnail">
      <img src="http://file29.mafengwo.net/M00/15/B8/wKgBpVYF-PqAclQ2AA3iYSi3aCg39.groupinfo.w680.jpeg" alt=""/>
      <div class="am-thumbnail-caption">
        <h3>百年孤独选</h3>
        <p>无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。</p>
        <p>
          <button class="am-btn am-btn-primary">按钮</button>
          <button class="am-btn am-btn-default">按钮</button>
        </p>
      </div>
    </div>
  </div>


  <div class="am-u-sm-4">
    <div class="am-thumbnail">
      <img src="http://file29.mafengwo.net/M00/15/B8/wKgBpVYF-PqAclQ2AA3iYSi3aCg39.groupinfo.w680.jpeg" alt=""/>
      <div class="am-thumbnail-caption">
        <h3>百年孤独选</h3>
        <p>无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。</p>
        <p>这是一个基本的面板组件。</p>
      </div>
    </div>
  </div>

</div>




  



<% include footer.html %>