<% include header.html %>

		<link href="http://ask.amazeui.org/static/css/default/register.css?v=20150409" rel="stylesheet" type="text/css" />
		
		<link href="http://ask.amazeui.org/static/css/new/new.css" rel="stylesheet" type="text/css" />
	

<div class="aw-register-box">
    <div class="mod-head">
        <a href=""><img width="200" src="http://ask.amazeui.org/static/css/new/img/login_logo.png" alt="" /></a>
        <h1>注册新用户</h1>
    </div>
    <div class="mod-body">
        <form class="aw-register-form" method="post" id="register_form">
            <ul>
                <li class="am-alert am-alert-danger hide error_message am-text-left">
                    <i class="icon icon-delete"></i> <em></em>
                </li>
                <li>
                    <input class="aw-register-name am-form-field am-radius" type="text" name="user_name" placeholder="用户名" tips="请输入一个 2-14 位的用户名" errortips="用户名长度不符合" value="" />
                </li>
                <li>
                    <input class="aw-register-email am-form-field am-radius" type="text" placeholder="邮箱" name="email" tips="请输入你常用的电子邮箱作为你的账号" value="" errortips="邮箱格式不正确" />
                </li>
                <li>
                    <input class="aw-register-pwd am-form-field am-radius" type="password" name="password" placeholder="密码" tips="请输入 6-16 个字符,区分大小写" errortips="密码不符合规则" />
                </li>
                <li class="more-information hide">
                    <ul>
                        <li>
                            性别:
                            <label>
                                <input name="sex" id="sex" value="1" type="radio" /> 男                            </label>&nbsp;
                            <label>
                                <input name="sex" id="sex" value="2" type="radio" /> 女 </label>&nbsp;
                            <label>
                                <input name="sex" id="sex" value="3" type="radio" checked="checked" /> 保密                            </label>
                        </li>
                        <li>
                            职业:
                            <select name="job_id">
                                <option value="">--</option>
                                <option value="1">销售</option>
                                <option value="38">其他</option>                           
                            </select>
                        </li>
                        <li>
                            所在城市:
                            <select name="province" class="select_area" style="display:inline-block"></select>
                            <select name="city" class="select_area"></select>
                        </li>
                        <li>
                            <input type="text" class="am-form-field am-radius" placeholder="一句话介绍" id="welcome_signature" value="" name="signature" />
                        </li>
                    </ul>
                </li>
                <li>
                    <hr />
                    <a class="more-information-btn">更多资料</a>
                </li>
                                <li class="last">
                    <label><input type="checkbox" checked="checked" value="agree" name="agreement_chk" /> 我同意</label> <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
                    <a href="http://ask.amazeui.org/?/account/login/" class="am-fr">已有账号?</a>
                    <div class="aw-register-agreement hide">
                        <div class="aw-register-agreement-txt" id="register_agreement"></div>
                    </div>

                </li>
                <li class="am-cf">
                    <button class="am-btn btn-large btn-blue am-btn-block am-radius" onclick="AWS.ajax_post($('#register_form'), AWS.ajax_processer, 'error_message'); return false;">注册</button>
                </li>
            </ul>
        </form>
    </div>
    <div class="mod-footer"></div>
</div>


<% include footer.html %>