<% include header.html %>

<div class="am-g am-u-lg-12 am-u-sm-centered" style="margin-top:10rem;margin-bottom:10rem">
<pre style="background:#fff;border:none;text-align:center">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
</pre>
<p class="am-text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;404. Not Found</p>
<p class="am-text-center">&nbsp;&nbsp;&nbsp;&nbsp;没有找到你要的页面</p>
</div>

<!-- <%= error %> -->
<% include footer.html %>