<% include header.html %>

<section style="margin-top:4rem;">
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<!-- 上面先放一部的内容，下面用问答的形式来说明 -->
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
		  	<h2 class="am-titlebar-title ">
		    	人人秀网站注册使用—常见问题解答
		  	</h2>
		</div>
		<section data-am-widget="accordion" class="am-accordion am-accordion-default" data-am-accordion='{ "multiple": true }'>
			<dl class="am-accordion-item am-active">
				<dt class="am-accordion-title">
					<span class="am-icon-question-circle am-icon-sm am-danger"></span> 就这样恣意的活样恣意的活样恣意的活着?
				</dt>
				<dd class="am-accordion-bd am-collapse am-in">
					<div class="am-accordion-content zy-accordion-content" style="padding:2rem;">
						（1）是否会多少分看着大家是次麦序吗的速度苏菲斯滴滴滴IDD色额我很多设计师少分环境；
						<br> （2）家是否还都是废话就收到看着大家是否还都是废话就收到回复花多少额ure哦二哦额我问你下次麦序吗的速度苏菲斯滴滴速度苏菲斯滴滴滴分环境；
						<br> （3）否会多少分看着大家是否还都是废话就收到回复花多少额ure哦二哦额我问你下次麦序吗的速度苏菲斯滴滴滴IDD色额我很多设计分环境；
						<br> （4）就收到回复花多看着大家是否还都是废话就收到回复花多少额ure哦二哦额我问你下次麦序吗的速度苏菲斯滴滴滴IDD色额我很多设计多少分环境 。
					</div>
				</dd>
			</dl>
			<dl class="am-accordion-item am-active">
				<dt class="am-accordion-title">
					<span class="am-icon-question-circle am-icon-sm am-danger"></span> 让生命去等候，去等候，去等候，去样告样告样告样告样告样告等候？
				</dt>
				<dd class="am-accordion-bd am-collapse am-in">
					<div class="am-accordion-content zy-accordion-content" style="padding:2rem;">
						（1）走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在走；
						<br> （2）忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东路 。
					</div>
				</dd>
			</dl>
			<dl class="am-accordion-item am-active">
				<dt class="am-accordion-title">
					<span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告别山样恣意的活下的家？
				</dt>
				<dd class="am-accordion-bd am-collapse am-in">
					<div class="am-accordion-content zy-accordion-content" style="padding:2rem;">
						（1）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
					</div>
				</dd>
			</dl>
			<dl class="am-accordion-item am-active">
				<dt class="am-accordion-title">
					<span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告样告样告样告样告样告样告样告样告样告样告别山样告样告下的家？
				</dt>
				<dd class="am-accordion-bd am-collapse am-in">
					<div class="am-accordion-content zy-accordion-content" style="padding:2rem;">
						（1）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
						<br> （2）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
						<br> （3）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
					</div>
				</dd>
			</dl>
			<dl class="am-accordion-item am-active">
				<dt class="am-accordion-title">
					<span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告别别山下的家别山下的家山下的家？
				</dt>
				<dd class="am-accordion-bd am-collapse am-in">
					<div class="am-accordion-content zy-accordion-content" style="padding:2rem;">
						（1）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
						<br> （2）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
					</div>
				</dd>
			</dl>
			<dl class="am-accordion-item am-active">
				<dt class="am-accordion-title">
					<span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告就这样样告样告样告样告样告样告告别山下的别山下的家？
				</dt>
				<dd class="am-accordion-bd am-collapse am-in">
					<div class="am-accordion-content zy-accordion-content" style="padding:2rem;">
						（1）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
					</div>
				</dd>
			</dl>
			<dl class="am-accordion-item am-active">
				<dt class="am-accordion-title">
					<span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告别山下的就这样告别山下的就这样告别山下的家？
				</dt>
				<dd class="am-accordion-bd am-collapse am-in">
					<div class="am-accordion-content zy-accordion-content" style="padding:2rem;">
						（1）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
						<br> （2）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
					</div>
				</dd>
			</dl>
			<dl class="am-accordion-item am-active">
				<dt class="am-accordion-title">
					<span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告别山下的就这样告别山下的就这样告别山下的家？
				</dt>
				<dd class="am-accordion-bd am-collapse am-in">
					<div class="am-accordion-content zy-accordion-content" style="padding:2rem;">
						（1）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
						<br> （2）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
					</div>
				</dd>
			</dl>
			<dl class="am-accordion-item am-active">
				<dt class="am-accordion-title">
					<span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告别山下的就这样告别山下的就这样告别山下的家？
				</dt>
				<dd class="am-accordion-bd am-collapse am-in">
					<div class="am-accordion-content zy-accordion-content" style="padding:2rem;">
						（1）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
						<br> （2）我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
					</div>
				</dd>
			</dl>
		</section>
	</div>
</section>

<% include footer.html %>