<% include header.html %>
<section style="margin-top:20px;"> 


	<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
		 <!-- 上面先放一部的内容，下面用问答的形式来说明 -->
		<!-- <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
		  <h2 class="am-titlebar-title ">
		    <img src="http://s.amazeui.org/media/i/brand/amazeui-b.png" />
		  </h2>
		</div> -->

	    <section data-am-widget="accordion" class="am-accordion am-accordion-default"
		data-am-accordion='{ "multiple": true }'>
		  <dl class="am-accordion-item am-active">
		    <dt class="am-accordion-title"><span class="am-icon-question-circle am-icon-sm am-danger"></span> 就这样恣意的活样恣意的活样恣意的活着?</dt>
		    <dd class="am-accordion-bd am-collapse am-in">
		      <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
		      <div class="am-accordion-content zy-accordion-content">
		      	<span class="am-icon-check-square am-icon-sm am-danger"></span> 置身置身人群中你只需要被淹没 享受 沉默人群中你只置身人群中你只需要被淹没 享受 沉默需要被淹没置身人群中你只需要被淹没 享受 沉默 享受 沉默</div>
		    </dd>
		  </dl>
		  <dl class="am-accordion-item am-active">
		    <dt class="am-accordion-title"><span class="am-icon-question-circle am-icon-sm am-danger"></span> 让生命去等候，去等候，去等候，去样告样告样告样告样告样告等候</dt>
		    <dd class="am-accordion-bd am-collapse am-in" style="padding-left:100px">
		      <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
		      <div class="am-accordion-content zy-accordion-content">
		      	<span class="am-icon-check-square am-icon-sm am-danger"></span> 走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东走在忠孝东路
		      </div>
		    </dd>
		  </dl>
		  <dl class="am-accordion-item am-active">
		    <dt class="am-accordion-title"><span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告别山样恣意的活下的家</dt>
		    <dd class="am-accordion-bd am-collapse am-in">
		      <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
		      <div class="am-accordion-content zy-accordion-content"><span class="am-icon-check-square am-icon-sm am-danger"></span> 我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？</div>
		    </dd>	
		  </dl>
		  <dl class="am-accordion-item am-active">
		    <dt class="am-accordion-title"><span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告样告样告样告样告样告样告样告样告样告样告别山样告样告下的家</dt>
		    <dd class="am-accordion-bd am-collapse am-in">
		      <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
		      <div class="am-accordion-content zy-accordion-content"><span class="am-icon-check-square am-icon-sm am-danger"></span> 我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？</div>
		    </dd>	
		  </dl>
		  <dl class="am-accordion-item am-active">
		    <dt class="am-accordion-title"><span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告别别山下的家别山下的家山下的家</dt>
		    <dd class="am-accordion-bd am-collapse am-in">
		      <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
		      <div class="am-accordion-content zy-accordion-content"><span class="am-icon-check-square am-icon-sm am-danger"></span> 我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？</div>
		    </dd>	
		  </dl>
		  <dl class="am-accordion-item am-active">
		    <dt class="am-accordion-title"><span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告就这样样告样告样告样告样告样告告别山下的别山下的家</dt>
		    <dd class="am-accordion-bd am-collapse am-in">
		      <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
		      <div class="am-accordion-content zy-accordion-content"><span class="am-icon-check-square am-icon-sm am-danger"></span> 我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？</div>
		    </dd>	
		  </dl>
		  <dl class="am-accordion-item am-active">
		    <dt class="am-accordion-title"><span class="am-icon-question-circle am-icon-sm am-danger"></span> 我就这样告别山下的就这样告别山下的就这样告别山下的家</dt>
		    <dd class="am-accordion-bd am-collapse am-in">
		      <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
		      <div class="am-accordion-content zy-accordion-content"><span class="am-icon-check-square am-icon-sm am-danger"></span> 我就这样告别山下的家，我实在不愿己照顾自己并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？</div>
		    </dd>	
		  </dl>
		</section>
	</div>





</section>
<% include footer.html %>