<div class="am-g zy-weblink">
    <div class="am-u-lg-10 am-u-sm-centered">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3 am-avg-md-6 am-avg-lg-10 am-gallery-imgbordered" data-am-gallery="{  }">
          <h2>技术论坛</h2>
          <li><a href="http://www.qianduan.net/">前端观察</a></li>
          <li><a href="">前端网</a></li>
          <li><a href="">前端开发</a></li>
          <li><a href="">GitHub</a></li>
          <li><a href="http://www.w3school.com.cn/">W3SCHOOL</a></li>
          <li><a href="http://www.css88.com/nav/">前端文档</a></li>
          <li><a href="http://www.whycss.com/">前端圈子</a></li>
          <li><a href="http://www.gettyimages.cn/">华盖创意</a></li>
          <li><a href="http://shijue.me/home">视觉中国</a></li>
          <li><a href="http://www.sj63.com/">设计路上</a></li>
          <li><a href="http://www.lanrentuku.com/">懒人图库</a></li>
          <li><a href="http://www.nipic.com/index.html">昵图网</a></li>
          <li><a href="http://www.sccnn.com/">素材中国</a></li>
          <li><a href="http://www.imooc.com/">慕课网</a></li>
          <li><a href="http://www.css88.com/">前端开发</a></li>
          <li><a href="http://www.w3cplus.com/">W3CPLUS</a></li>
          <li><a href="http://www.daqianduan.com/nav#14">大前端</a></li>
          <li><a href="http://www.html-js.com/">前端乱炖</a></li>
        </ul>
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3 am-avg-md-6 am-avg-lg-10 am-gallery-imgbordered" data-am-gallery="{  }">
          <h2>招聘网站</h2>
          <li><a href="">拉勾网</a></li>
          <li><a href="">应届生网</a></li>
          <li><a href="">大街网</a></li>
          <li><a href="">赶集网</a></li>
          <li><a href="">猎聘网</a></li>
          <li><a href="">前程无忧</a></li>
          <li><a href="">58同城</a></li>
          <li><a href="">内推网</a></li>
          <li><a href="">100offer</a></li>
          <li><a href="">猎上网</a></li>
          <li><a href="">海投网</a></li>
          <li><a href="">人大论坛</a></li>
          <li><a href="">中华英才</a></li>
          <li><a href="">水木年华</a></li>
          <li><a href="">东大BBS</a></li>
          <li><a href="">虎踞龙盘</a></li>
          <li><a href="">联系我们</a></li>
          <li><a href="">联系我们</a></li>
        </ul>
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3 am-avg-md-6 am-avg-lg-10 am-gallery-imgbordered" data-am-gallery="{  }">
          <h2>关于我们</h2>
          <li><a href="">联系我们</a></li>
          <li><a href="">意见反馈</a></li>
          <li><a href="">加入我们</a></li>
          <li><a href="">关注我们</a></li>
          <li><a href="">联系我们</a></li>
          <li><a href="">联系我们</a></li>
          <li><a href="">联系我们</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="javascripts/jquery-1.11.3.js"></script>
<script type="text/javascript" src="javascripts/amazeui.min.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>
<script type="text/javascript" src="javascripts/rrshow.js"></script>
<% include alert.html %>

</body>
</html>