	<div class="am-g zy-weblink">
		<div class="am-u-lg-10 am-u-sm-centered">
			<ul data-am-widget="gallery" class="am-gallery am-avg-sm-3 am-avg-md-6 am-avg-lg-10 am-gallery-imgbordered" data-am-gallery="{  }">
				<h3>技术论坛</h3>
				<li><a target="_blank" href="http://www.qianduan.net/">前端观察</a></li>
				<li><a target="_blank" href="http://www.w3cfuns.com/">前端网</a></li>
				<li><a target="_blank" href="http://www.aseoe.com/">前端开发</a></li>
				<li><a target="_blank" href="https://github.com/">GitHub</a></li>
				<li><a target="_blank" href="http://www.css88.com/nav/">前端文档</a></li>
				<li><a target="_blank" href="http://www.whycss.com/">前端圈子</a></li>
				<li><a target="_blank" href="http://www.gettyimages.cn/">华盖创意</a></li>
				<li><a target="_blank" href="http://shijue.me/home">视觉中国</a></li>
				<li><a target="_blank" href="http://www.sj63.com/">设计路上</a></li>
				<li><a target="_blank" href="http://www.lanrentuku.com/">懒人图库</a></li>
				<li><a target="_blank" href="http://www.nipic.com/index.html">昵图网</a></li>
				<li><a target="_blank" href="http://www.sccnn.com/">素材中国</a></li>
				<li><a target="_blank" href="http://www.imooc.com/">慕课网</a></li>
				<li><a target="_blank" href="http://www.css88.com/">前端开发</a></li>
				<li><a target="_blank" href="http://www.w3cplus.com/">W3CPLUS</a></li>
				<li><a target="_blank" href="http://www.daqianduan.com/">大前端</a></li>
				<li><a target="_blank" href="http://www.html-js.com/">前端乱炖</a></li>
				<li><a target="_blank" href="http://study.163.com/">网易云课堂</a></li>
				<li><a target="_blank" href="http://open.163.com/">网易公开课</a></li>
				<li><a target="_blank" href="http://www.mycodes.net/">源码之家</a></li>
				<li><a target="_blank" href="http://www.cnblogs.com/">博客园</a></li>
				<li><a target="_blank" href="http://segmentfault.com/">segmentFault</a></li>
				<li><a target="_blank" href="http://www.w3school.com.cn/">W3SCHOOL</a></li>
				<li><a target="_blank" href="http://www.chengxuyuans.com/">程序员网站</a></li>
			</ul>
			<ul data-am-widget="gallery" class="am-gallery am-avg-sm-3 am-avg-md-6 am-avg-lg-10 am-gallery-imgbordered" data-am-gallery="{  }">
				<h3>招聘网站</h3>
				<li><a target="_blank" href="http://www.51job.com">前程无忧</a></li>
				<li><a target="_blank" href="http://www.zhaopin.com/">应届生网</a></li>
				<li><a target="_blank" href="http://www.lietou.com/">猎聘网</a></li>
				<li><a target="_blank" href="http://www.lagou.com/">拉勾网</a></li>
				<li><a target="_blank" href="http://www.dajie.com/home">大街网</a></li>
				<li><a target="_blank" href="http://100offer.com/">100offer</a></li>
				<li><a target="_blank" href="http://www.hunteron.com/">猎上网</a></li>
				<li><a target="_blank" href="http://xjh.haitou.cc/">海投网</a></li>
				<li><a target="_blank" href="http://www.jobui.com/">职友网</a></li>
				<li><a target="_blank" href="http://beijing.baixing.com/">百姓网</a></li>
				<li><a target="_blank" href="http://bj.58.com/">58同城</a></li>
				<li><a target="_blank" href="http://bj.ganji.com/">赶集网</a></li>
				<li><a target="_blank" href="http://m.wealink.com/">若邻网</a></li>
				<li><a target="_blank" href="http://www.kanzhun.com/">看准网</a></li>
				<li><a target="_blank" href="http://www.chinahr.com/">中华英才网</a></li>
				<li><a target="_blank" href="http://www.yjbys.com/">应届生求职网</a></li>
				<li><a target="_blank" href="http://www.cjol.com/">中国人才热线</a></li>
				<li><a target="_blank" href="http://www.dianhou.com/">周伯通招聘</a></li>
			</ul>
			<ul data-am-widget="gallery" class="am-gallery am-avg-sm-3 am-avg-md-6 am-avg-lg-10 am-gallery-imgbordered" data-am-gallery="{  }">
				<h3>关于我们</h3>
				<li><a href="javascript:;">人人秀简介</a></li>
				<li><a href="javascript:;">用户协议</a></li>
				<li><a href="javascript:;">加入我们</a></li>
				<li><a href="javascript:;">用户注册</a></li>
				<li><a href="javascript:;">常见问题</a></li>
				<li><a href="javascript:;">联系我们</a></li>
				<li><a href="javascript:;">意见反馈</a></li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="javascripts/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="javascripts/amazeui.min.js"></script>
	<script type="text/javascript" src="javascripts/index.js"></script>
	<script type="text/javascript" src="javascripts/rrshow.js"></script>
	<% include alert.html %>

	</body>
</html>
