	
		<div class="am-g zy-weblink">
			<div class="am-u-lg-10 am-u-sm-centered">
				<!-- <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3 am-avg-md-6 am-avg-lg-10 am-gallery-imgbordered" data-am-gallery="{  }">
					<h3>技术网站</h3>
					<li><a target="_blank" href="http://www.w3cfuns.com/">前端网</a></li>
					<li><a target="_blank" href="http://www.aseoe.com/">前端开发</a></li>
					<li><a target="_blank" href="https://github.com/">GitHub</a></li>
					<li><a target="_blank" href="http://www.css88.com/nav/">前端文档</a></li>
					<li><a target="_blank" href="http://www.whycss.com/">前端圈子</a></li>
					<li><a target="_blank" href="http://shijue.me/home">视觉中国</a></li>
					<li><a target="_blank" href="http://www.sj63.com/">设计路上</a></li>
					<li><a target="_blank" href="http://www.nipic.com/index.html">昵图网</a></li>
					<li><a target="_blank" href="http://www.sccnn.com/">素材中国</a></li>
					<li><a target="_blank" href="http://www.imooc.com/">慕课网</a></li>
					<li><a target="_blank" href="http://www.css88.com/">前端开发</a></li>
					<li><a target="_blank" href="http://www.w3cplus.com/">W3CPLUS</a></li>
					<li><a target="_blank" href="http://www.daqianduan.com/">大前端</a></li>
					<li><a target="_blank" href="http://www.html-js.com/">前端乱炖</a></li>
					<li><a target="_blank" href="http://study.163.com/">网易云课堂</a></li>
					<li><a target="_blank" href="http://www.mycodes.net/">源码之家</a></li>
					<li><a target="_blank" href="http://www.cnblogs.com/">博客园</a></li>
					<li><a target="_blank" href="http://segmentfault.com/">Segment</a></li>
					<li><a target="_blank" href="http://www.chengxuyuans.com/">程序员网</a></li>
				</ul> -->
				<ul data-am-widget="gallery" class="am-gallery am-avg-sm-3 am-avg-md-6 am-avg-lg-10 am-gallery-imgbordered" data-am-gallery="{  }">
					<h3>友情链接</h3>
					<li><a target="_blank" href="http://www.51job.com">前程无忧</a></li>
					<li><a target="_blank" href="http://beijing.baixing.com/">百姓网</a></li>
					<li><a target="_blank" href="http://www.lietou.com/">猎聘网</a></li>
					<li><a target="_blank" href="http://www.lagou.com/">拉勾网</a></li>
					<li><a target="_blank" href="http://www.dajie.com/home">大街网</a></li>
					<li><a target="_blank" href="http://100offer.com/">100offer</a></li>
					<li><a target="_blank" href="http://www.hunteron.com/">猎上网</a></li>
					<li><a target="_blank" href="http://xjh.haitou.cc/">海投网</a></li>
					<li><a target="_blank" href="http://www.jobui.com/">职友网</a></li>
					<li><a target="_blank" href="http://www.zhaopin.com/">智联招聘</a></li>
					<li><a target="_blank" href="http://bj.58.com/">58同城</a></li>
					<li><a target="_blank" href="http://bj.ganji.com/">赶集网</a></li>
					<li><a target="_blank" href="http://m.wealink.com/">若邻网</a></li>
					<li><a target="_blank" href="http://www.kanzhun.com/">看准网</a></li>
					<li><a target="_blank" href="http://www.chinahr.com/">中华英才</a></li>
					<li><a target="_blank" href="http://www.yjbys.com/">应届生网</a></li>
					<li><a target="_blank" href="http://www.cjol.com/">人才热线</a></li>
					<li><a target="_blank" href="http://www.cepin.com/">测聘网</a></li>
					<li><a target="_blank" href="http://www.dianhou.com/">周伯通</a></li>
					<li><a target="_blank" href="http://www.quanzhi.com/">全职招聘</a></li>
				</ul>
			</div>
		</div>

		<% include alert.html %>

		<!--JS Files -->
		<script type="text/javascript" src="/javascripts/com/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="/javascripts/com/amazeui.min.js"></script>
		<script type="text/javascript" src="/javascripts/com/baiduTemplate.js"></script>
		<script type="text/javascript" src="/javascripts/com/app.js"></script>
		
		<% if(locals.jsFils){ %>
			<% for(var i=0, len=jsFils.length; i<len; i++){ %>
				<script type="text/javascript" src="javascripts/<%= jsFils[i] %>.js"></script>
			<% } %>
		<% } %>

	</body>
</html>
