<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title><%= title %></title>
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="icon" type="image/png" href="/images/website-icon.png">
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/images/website-icon.png">
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon-precomposed" href="/images/website-icon.png">
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/images/website-icon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/stylesheets/amazeui.min.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<header class="am-topbar zy-am-topbar">
		<div class="am-u-lg-9 am-u-md-12  am-u-sm-centered">
			<h1 class="am-topbar-brand zy-am-topbar-brand">
        		<a href="#"><img src="/images/logo.png"></a>
      		</h1>

			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-primary  am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
				<span class="am-sr-only">切换</span> <span class="am-icon-bars"></span>
			</button>

			<div class="am-collapse am-topbar-collapse zy-am-topbar-collapse" id="doc-topbar-collapse">
				<ul class="am-nav am-nav-pills am-topbar-nav zy-am-topbar-nav">
					<li class="am-active"><a href="/">首页</a></li>
					<li><a href="/faq">功能介绍</a></li>
					<li><a href="/resource">资源库</a></li>
					<li><a href="/talentpool">人才库</a></li>
				</ul>
				<div class="am-topbar-right">
					<div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
						<button class="am-btn am-btn-primary  am-topbar-btn am-btn-sm am-dropdown-toggle am-radius" data-am-dropdown-toggle>
							其他 <span class="am-icon-caret-down"></span>
						</button>
						<ul class="am-dropdown-content">
							<li><a href="/login">登录</a></li>
							<li><a href="/register">注册</a></li>
							<li><a href="/myindex">我的天地</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
