<% include header.html %>

<style>
.am-slider-d2 .am-slider-desc{
    bottom: 25%;
    color: #fff;
    position: absolute;
    z-index: 1000;
}
.am-slider-d2 .am-slider-desc1{
	left: 5%;
	right: 40%;
	text-align: left;
}
.am-slider-d2 .am-slider-desc2{
	right: 5%;
	left: 40%;
	text-align: right;
}
.am-slider-d2 .zy-meng-ceng{
	position: absolute;
	top:0;
	left:0;
	z-index: 100;
	width: 100%;
	height:100%;
	background: rgba(30, 30, 30, 0.5) none repeat scroll 0 0;
}
.am-slider-d2 .am-slider-content {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 1rem;
   	padding: 1rem 0;
}
</style>

<section>
	<div data-am-widget="slider" class="am-slider am-slider-d2" data-am-slider='{"controlNav":false}'>
		<ul class="am-slides">
			<li>
				<img src="/images/11.jpg">
				<div class="am-slider-desc  am-slider-desc1 am-animation-slide-left">
					<div class="am-slider-content">
						<h2 class="am-slider-title" style="font-size:5.5rem;margin-bottom:1rem;">如果你和我们有一样的梦想...</h2>
						<div style="font-size:2rem;margin-bottom:2rem;">
							SegmentFault 正在迅猛发展，我们希望你的加入能让 SegmentFault 有更大的改观和发展。
							如果你和我们有一样的梦想、有激情，别犹豫，加入我们，一起为中文开发者打造最好的技术交流社区。
						</div>
					</div>
					<a href="/myindex" class="am-slider-more" style="font-size:5rem">先睹为快</a>
				</div>
				<i class="zy-meng-ceng"></i>
			</li>
			<li>
				<img src="/images/22.jpg">
				<div class="am-slider-desc am-slider-desc2 am-animation-slide-right">
					<div class="am-slider-content">
						<h2 class="am-slider-title" style="font-size:5.5rem;margin-bottom:1rem;">一个干净舒适的技术交流平台</h2>
						<div style="font-size:2rem;margin-bottom:2rem;">
							SegmentFault 欢迎广大开发者前来交流，我们尽可能地为大家提供一个干净舒适的技术交流平台。在这里，可以与更多的开发者进行深度探讨，帮助你尽可能地为大家提供一个干净更快速地进步
						</div>
					</div>
					<a href="/register" class="am-slider-more" style="font-size:5rem">立马注册</a>
				</div>
				<i class="zy-meng-ceng"></i>
			</li>
			<li>
				<img src="/images/33.jpg">
				<div class="am-slider-desc am-slider-desc1 am-animation-slide-left">
					<div class="am-slider-content">
						<h2 class="am-slider-title" style="font-size:5.5rem;margin-bottom:1rem;">远方有一个地方叫...</h2>
						<div style="font-size:2rem;margin-bottom:2rem;">
							SegmentFault 欢迎广大开发者前来交流，我们尽可能地为大家提供一个干净舒适的技术交流平台。在这里，可以与更多的开发者进行深度探讨，帮助你尽可能地为大家提供一个干净更快速地进步
						</div>
					</div>
					<a href="/faq" class="am-slider-more" style="font-size:5rem">了解更多</a>
				</div>
				<i class="zy-meng-ceng"></i>
			</li>
		</ul>
	</div>

	<div class="am-g am-u-lg-11 am-u-md-12  am-u-sm-centered zy-section-nav">
		<div class="col-md-4 am-u-md-4 am-u-sm-4 zy-section-nav-img">
			<!-- <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{ pureview: 'false' }">
				<img src="/images/11.png" data-rel="/images/title_bg_f.jpg" alt="" />
			</figure> -->
			<figure class="am am-figure am-figure-default ">
				<img src="/images/11.png" alt="" />
			</figure>
		</div>
		<div class="col-md-4 am-u-md-4 am-u-sm-4 zy-section-nav-img">
			<figure class="am am-figure am-figure-default ">
				<img src="/images/22.png" alt="" />
			</figure>
		</div>
		<div class="col-md-4 am-u-md-4 am-u-sm-4 zy-section-nav-img">
			<figure class="am am-figure am-figure-default ">
				<img src="/images/33.png" alt="" />
			</figure>
		</div>
	</div>

	<div class="am-g zy-section-nav" style="background:#eee;padding-top:5rem;padding-bottom:5rem">
		<div class="am-u-lg-11 am-u-md-12 am-u-sm-centered" class="zy-section-imgs">
			<div class="col-md-6 am-u-md-6 am-u-sm-6" data-am-scrollspy="{animation:'slide-left',  delay: 300, repeat: false}">
				<figure class="am am-figure am-figure-default ">
					<img src="/images/student1.png" alt="" />
				</figure>
			</div>
			<div class="col-md-6 am-u-md-6 am-u-sm-6">
				<figure class="am am-figure am-figure-default ">
					<img src="/images/student11.png" alt="" />
				</figure>
			</div>
		</div>
	</div>

	<div class="am-g zy-section-nav">
		<div class="am-u-lg-11 am-u-md-12 am-u-sm-centered " class="zy-section-imgs">
			<div class="col-md-6 am-u-md-6 am-u-sm-6">
				<figure class="am am-figure am-figure-default ">
					<img src="/images/student22.png" alt="" />
				</figure>
			</div>
			<div class="col-md-6 am-u-md-6 am-u-sm-6" data-am-scrollspy="{animation:'slide-right',  delay: 300, repeat: false}">
				<figure class="am am-figure am-figure-default ">
					<img src="/images/student2.png" alt="" />
				</figure>
			</div>
		</div>
	</div>

	<div class="am-g zy-section-nav" style="background:#eee;padding-top:5rem;padding-bottom:5rem">
		<div class="am-u-lg-11 am-u-md-12 am-u-sm-centered " class="zy-section-imgs">
			<div class="col-md-6 am-u-md-6 am-u-sm-6" data-am-scrollspy="{animation:'slide-left',  delay: 300, repeat: false}">
				<figure class="am am-figure am-figure-default ">
					<img src="/images/student3.png" alt="" />
				</figure>
			</div>
			<div class="col-md-6 am-u-md-6 am-u-sm-6">
				<figure class="am am-figure am-figure-default ">
					<img src="/images/student33.png" alt="" />
				</figure>
			</div>
		</div>
	</div>

		
	<div class="am-u-lg-11 am-u-md-12 am-u-sm-centered zy-composotions">
		<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-imgbordered" data-am-gallery="{  }">
			<li>
				<div class="am-gallery-item zy-shake-item">
					<a href="#">
						<img src="/images/function1.jpg" />
						<h3 class="am-gallery-title">前端开发工程师优秀模板</h3>
						<!-- <div class="am-gallery-desc">2375-09-26</div> -->
					</a>
				</div>
			</li>
			<li>
				<div class="am-gallery-item zy-shake-item">
					<a href="#">
						<img src="/images/function2.jpg" />
						<h3 class="am-gallery-title">后端开发工程师优秀模板</h3>
						<!--  <div class="am-gallery-desc">2375-09-26</div> -->
					</a>
				</div>
			</li>
			<li>
				<div class="am-gallery-item zy-shake-item">
					<a href="#">
						<img src="/images/function1.jpg" />
						<h3 class="am-gallery-title">客户端开发工程师优秀模板</h3>
						<!-- <div class="am-gallery-desc">2375-09-26</div> -->
					</a>
				</div>
			</li>
			<li>
				<div class="am-gallery-item zy-shake-item">
					<a href="#">
						<img src="/images/function2.jpg" />
						<h3 class="am-gallery-title">产品经理优秀模板</h3>
						<!-- <div class="am-gallery-desc">2375-09-26</div> -->
					</a>
				</div>
			</li>
		</ul>
	</div>
</section>


<style>
.amz-credits {
    padding: 35px 0;
    background-color: #eee;
    margin-top:5rem;
}
.amz-credits header h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.amz-credits header h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
</style>

<section class="amz-credits">
	<div class="amz-container">
		<header>
			<h1 data-am-scrollspy="{animation:'fade'}">把平台作为通向成功的垫脚石！</h1>
			<h2 data-scrollspy="{animation:'slide-bottom', delay: 500}">
				人人秀平台 汲取了很多优秀的社区资源，通过免费注册使用的形式来回馈大家。
			</h2>
		</header>
	</div>
	<div class="am-g am-g-fixed amz-credits-list">
		<div class="col-md-4 am-u-md-4" data-scrollspy="{animation:'scale-up', delay: 1000}">
			<h2>Blog</h2>
			<p>人人秀平台 通过 <a href="/register" target="_blank">用户的注册</a>使用，集聚了大量优秀的技术性、行业远瞻性和创造性博文，<a href="/inf" target="_blank">在这里</a>大家可以尽情阅读学习，甚至可以随时沟通交流。</p>
		</div>
		<div class="col-md-4 am-u-md-4" data-scrollspy="{animation:'scale-up', delay: 1000}">
			<h2>Resume</h2>
			<p>人人秀平台 提供了详尽的简历自我展示模式，用户通过注册可获得完全属于<a href="/myindex" target="_blank">自己的空间</a>。另外，大家可以通过<a href="/myindex" target="_blank">人才库</a>，查找所需的各式人才简历，通过研究学习来扬长补短。</p>
		</div>
		<div class="col-md-4 am-u-md-4" data-scrollspy="{animation:'scale-up', delay: 1000}">
			<h2>Navigation</h2>
			<p>通过每个用户的积极贡献，人人秀平台拥有大量的资源导航， 另外，通过汲取各大主流社区平台的资源，人人秀的<a href="/inf" target="_blank">资源库</a>中集聚整理了最新最全的招聘信息，供大家免费使用。</p>
		</div>
	</div>
</section>


<% include footer.html %>
<!-- 
<div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade'}">...</div>

<div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 300}">...</div> -->

<script>
$('.zy-shake-item').hover(function(){
		$(this).addClass('am-animation-shake');
	},function(){
		$(this).removeClass('am-animation-shake')
	}
)	
</script>