<% include header.html %>

    <section> 

    	<div data-am-widget="slider" class="am-slider am-slider-a2" data-am-slider='{"directionNav":false}'>
		  <ul class="am-slides">
		    <li><img src="/images/pageimg1.jpg"></li>
		    <li><img src="/images/pageimg2.jpg"></li>
		    <li><img src="/images/11d.jpg"></li>
		  </ul>
		</div>



		<!-- 目前暂定为,采用下面的方式替换 -->
		<!-- <div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered zy-section-nav">
			<div class="col-md-4 am-u-md-4 zy-section-nav-img">
				<img  src="/images/char-icon1.png" />
			</div>
			<div class="col-md-4 am-u-md-4 zy-section-nav-img">
				<img  src="/images/char-icon2.png" />
			</div>
			<div class="col-md-4 am-u-md-4 zy-section-nav-img">
				<img  src="/images/char-icon3.png" />
			</div>
		</div> -->
		<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered zy-section-nav" >
			<div class="col-md-4 am-u-md-4 am-u-sm-4 zy-section-nav-img">
				<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'false' }">
					 <img src="/images/11.png" data-rel="/images/title_bg_f.jpg" alt=""/>
				</figure>
			</div>
			<div class="col-md-4 am-u-md-4 am-u-sm-4 zy-section-nav-img">
				<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'false' }">
					<img src="/images/22.png" data-rel="/images/title_bg_f.jpg" alt=""/>
				</figure>
			</div>
			<div class="col-md-4 am-u-md-4 am-u-sm-4 zy-section-nav-img">
				<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'false' }">
					<img src="/images/33.png" data-rel="/images/title_bg_f.jpg" alt=""/>
				</figure>
			</div>
		</div>




		<div class="am-g zy-section-nav" style="background:#eee;">
			<div class="am-u-lg-10 am-u-md-12 am-u-sm-centered" class="zy-section-imgs">
				<div class="col-md-6 am-u-md-6 am-u-sm-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'false' }">
						<img src="/images/student1.png" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>
				<div class="col-md-6 am-u-md-6 am-u-sm-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'false' }">
						<img src="/images/student11.png" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>
			</div> 
		</div>
		<div class="am-g zy-section-nav">
			<div class="am-u-lg-10 am-u-md-12 am-u-sm-centered " class="zy-section-imgs">
				<div class="col-md-6 am-u-md-6 am-u-sm-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'false' }">
						<img src="/images/student22.png" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>
				<div class="col-md-6 am-u-md-6 am-u-sm-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'false' }">
						<img src="/images/student2.png" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>
			</div> 
		</div>
    	<div class="am-g zy-section-nav" style="background:#eee;">
			<div class="am-u-lg-10 am-u-md-12 am-u-sm-centered " class="zy-section-imgs">
				<div class="col-md-6 am-u-md-6 am-u-sm-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'false' }">
						<img src="/images/student3.png" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>
				<div class="col-md-6 am-u-md-6 am-u-sm-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'false' }">
						<img src="/images/student33.png" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>
			</div> 
		</div>






      <!--  此种做法am-thumbnail类不居中，因此需要图片大小适当 -->
		<!-- <div class="am-g zy-section-nav">
			<div class="am-u-lg-10 am-u-md-12 am-u-sm-centered ">
				<ul class="am-avg-sm-1 am-avg-md-2 am-avg-lg-4 am-thumbnails">
				  <li><img class="am-thumbnail" src="/images/function1.jpg" /></li>
				  <li><img class="am-thumbnail" src="/images/function2.jpg" /></li>
				  <li><img class="am-thumbnail" src="/images/function1.jpg" /></li>
				  <li><img class="am-thumbnail" src="/images/function2.jpg" /></li>
				  <li><img class="am-thumbnail" src="/images/function1.jpg" /></li>
				  <li><img class="am-thumbnail" src="/images/function2.jpg" /></li>
				  <li><img class="am-thumbnail" src="/images/function1.jpg" /></li>
				  <li><img class="am-thumbnail" src="/images/function2.jpg" /></li>
				</ul>
			</div>
		</div> -->
		<!-- zhege <div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered zy-section-nav">
			<div class="col-md-4 am-u-md-4">
				<img class="am-thumbnail" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
			</div>
			<div class="col-md-4 am-u-md-4">
				<img class="am-thumbnail" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
			</div>
			<div class="col-md-4 am-u-md-4">
				<img class="am-thumbnail" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
			</div>
		</div> -->



<!-- 

<div class="am-g zy-section-nav zy-changecolor">
			<div class="am-u-lg-10 am-u-md-12 am-u-sm-centered ">

				<div class="col-lg-3 col-md-6 am-u-lg-3 am-u-md-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'true' }">
							  <img src="/images/function2.jpg" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>
				<div class="col-lg-3 col-md-6 am-u-lg-3 am-u-md-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'true' }">
							  <img src="/images/function1.jpg" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>
				<div class="col-lg-3 col-md-6 am-u-lg-3 am-u-md-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'true' }">
							  <img src="/images/function2.jpg" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>
				<div class="col-lg-3 col-md-6 am-u-lg-3 am-u-md-6">
					<figure data-am-widget="figure" class="am am-figure am-figure-default "data-am-figure="{ pureview: 'true' }">
							  <img src="/images/function1.jpg" data-rel="/images/title_bg_f.jpg" alt=""/>
					</figure>
				</div>

			</div>
		</div> -->




<div class="am-u-lg-12 am-u-md-12 am-u-sm-centered zy-composotions" >
<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-imgbordered" data-am-gallery="{  }">
  <li>
    <div class="am-gallery-item">
      <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
        <img src="/images/function1.jpg" alt="远方 有一个地方 那里种有我们的梦想"
        />
        <h3 class="am-gallery-title">前端开发工程师优秀模板</h3>
        <!-- <div class="am-gallery-desc">2375-09-26</div> -->
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="http://s.amazeui.org/media/i/demos/bing-2.jpg" class="">
        <img src="/images/function2.jpg" alt="某天 也许会相遇 相遇在这个好地方"
        />
        <h3 class="am-gallery-title">后端开发工程师优秀模板</h3>
       <!--  <div class="am-gallery-desc">2375-09-26</div> -->
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="http://s.amazeui.org/media/i/demos/bing-3.jpg" class="">
        <img src="/images/function1.jpg" alt="不要太担心 只因为我相信"
        />
        <h3 class="am-gallery-title">客户端开发工程师优秀模板</h3>
        <!-- <div class="am-gallery-desc">2375-09-26</div> -->
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
        <img src="/images/function2.jpg" alt="终会走过这条遥远的道路"
        />
        <h3 class="am-gallery-title">产品经理优秀模板</h3>
        <!-- <div class="am-gallery-desc">2375-09-26</div> -->
      </a>
    </div>
  </li>
</ul>
</div>




    </section>
<% include footer.html %>

