<% include header.html %>

<section class="zy-resource-sec">
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<div class="col-lg-6 am-u-lg-6">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
					<a target="_blank" href="#" class="">
						<h2>最新企业社会招聘信息</h2>
						<span class="am-list-news-more am-fr">更多 &raquo;</span>
					</a>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% for(var i=0; i<20;i++){ %>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/inf_allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那些囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-6 am-u-lg-6">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
					<a target="_blank" href="#" class="">
						<h2>最新校园招聘信息</h2>
						<span class="am-list-news-more am-fr">更多 &raquo;</span>
					</a>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% for(var i=0; i<20;i++){ %>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/inf_allarticle" class="am-list-item-hd ">
				          			我很囧，你保重....晒晒旅行中的那些囧！
				          		</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<div class="col-lg-6 am-u-lg-6">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
					<a target="_blank" href="#" class="">
						<h2>公务员招聘信息</h2>
						<span class="am-list-news-more am-fr">更多 &raquo;</span>
					</a>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% for(var i=0; i<10;i++){ %>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/inf_allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那些囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-6 am-u-lg-6">
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
					<a target="_blank" href="#" class="">
						<h2>事业单位招聘信息</h2>
						<span class="am-list-news-more am-fr">更多 &raquo;</span>
					</a>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% for(var i=0; i<10;i++){ %>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/inf_allarticle" class="am-list-item-hd ">
				          			我很囧，你保重....晒晒旅行中的那些囧！
				          		</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<% include footer.html %>
