	
		<% include alert.html %>

		<!--JS Files -->
		<script type="text/javascript" src="/javascripts/com/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="/javascripts/com/amazeui.min.js"></script>
		<script type="text/javascript" src="/javascripts/com/jquery.form.js"></script>
		<script type="text/javascript" src="/javascripts/com/baiduTemplate.js"></script>
		<script type="text/javascript" src="/javascripts/com/app.js"></script>
		
		<% if(locals.jsFils){ %>
			<% for(var i=0, len=jsFils.length; i<len; i++){ %>
				<script type="text/javascript" src="/javascripts/<%= jsFils[i] %>.js"></script>
			<% } %>
		<% } %>
	
	</body>
</html>
