<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>
		<%= title %>
	</title>
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="icon" type="image/png" href="/images/website-icon.png">
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/images/website-icon.png">
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon-precomposed" href="/images/website-icon.png">
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/images/website-icon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<!--CSS Files -->
	<link rel="stylesheet" href="/stylesheets/amazeui.min.css">
	<link rel="stylesheet" href="/stylesheets/jquery.Jcrop.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
	<% if(locals.cssFils){ %>
		<% for(var i=0, len=cssFils.length; i<len; i++){ %>
			<link rel="stylesheet" href="/stylesheets/<%= cssFils[i] %>.css">
		<% } %>
	<% } %>
</head>

<body>
	<header class="am-topbar zy-am-topbar">
		<div class="am-u-lg-9 am-u-md-12  am-u-sm-centered">
			<h1 class="am-topbar-brand zy-am-topbar-brand">
          <a href="/myindex"><img src="/images/logo.png"></a>
      </h1>
			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-primary  am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
			<div class="am-collapse am-topbar-collapse zy-am-topbar-collapse" id="doc-topbar-collapse">
				<ul class="am-nav am-nav-pills am-topbar-nav zy-am-topbar-nav">
					<% if(locals.signed){ %>
						<li><a data-src="myindex" href="<%= ahref(signed, uName, vCode, '/myindex') %>">首页</a></li>
					<% }else{ %>
						<li><a data-src="myindex" href="/myindex">首页</a></li>
					<% } %>
					
					<% if(locals.modules){ %>
						<%- navs(signed, uName, vCode, modules) %>
					<% }else{ %>
						<li><a data-src="/instrc" href="/instrc">简介</a></li>
						<li><a data-src="/resume" href="/resume">简历</a></li>
						<li><a data-src="/navs" href="/navs">资源</a></li>
						<li><a data-src="/blogs_" href="/blogs_art_pub">博文</a></li>
						<li><a data-src="/sets_" href="/sets_pub">设置</a></li>
					<% } %>
				</ul>
				<div class="am-topbar-right">
					<div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
						<button class="am-btn am-btn-primary  am-topbar-btn am-btn-sm am-dropdown-toggle am-radius" data-am-dropdown-toggle>更多 <span class="am-icon-caret-down"></span></button>
						<ul class="am-dropdown-content">
							<li><a href="/inf">去资源库</a></li>
							<li><a href="/res">去人才库</a></li>
							<% if(locals.signed && signed=='1'){ %>
							<li id="zy-slidemenu" data-am-offcanvas="{target: '#doc-oc-demo2'}"><a href="javascript:void(0);">侧边栏</a></li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

	<% if(locals.signed && signed=='1'){ %>
	<!-- 侧边栏内容 -->
	<div id="doc-oc-demo2" class="am-offcanvas">
		<div class="am-offcanvas-bar am-offcanvas-bar-flip">
			<div class="am-offcanvas-content">
				<div data-am-widget="tabs" class="am-tabs am-tabs-d2">
					<ul class="am-tabs-nav am-cf">
						<li class="am-active">
							<a href="[data-tab-panel-0]">主题选择</a>
						</li>
						<li>
							<a href="[data-tab-panel-1]">状态选择</a>
						</li>
					</ul>
					<div class="am-tabs-bd">
						<div data-tab-panel-0 class="am-tab-panel am-active">
							<div class="am-form-group">
								<form class="am-form">
									<div class="am-form-group">
										<h3>主题颜色</h3>
										<label class="am-radio">
											<input type="radio" checked name="radio10" value="female" data-am-ucheck> <font style="color:#0a6999">深蓝色</font>
										</label>
										<label class="am-radio">
											<input type="radio" checked name="radio10" value="female" data-am-ucheck> <font style="color:#3bb4f2">浅蓝色</font>
										</label>
										<label class="am-radio">
											<input type="radio" name="radio10" value="pig" data-am-ucheck> <font style="color:#5eb95e">浅绿色</font>
										</label>
										<label class="am-radio">
											<input type="radio" name="radio10" value="pig" data-am-ucheck> <font style="color:#999">灰色</font>
										</label>
										<label class="am-radio">
											<input type="radio" name="radio10" value="male" data-am-ucheck> <font style="color:#F37B1D">橙色</font>
										</label>
										<label class="am-radio">
											<input type="radio" name="radio10" value="male" data-am-ucheck> <font style="color:#dd514c">红色</font>
										</label>
									</div>
									<div>
										<button type="submit" class="am-btn am-btn-xs am-btn-primary">保存</button>
									</div>
								</form>
							</div>
						</div>
						<div data-tab-panel-1 class="am-tab-panel">
							<form class="am-form">
								<div class="am-form-group">
									待定中。。。
									<%= uName %>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% } %>