<% include header.html %>

<style>
	li{
		border:none !important;
	}
</style>

<section class="zy-resource-sec">
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<div class="col-lg-2 am-u-lg-2">
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">前端开发</h2>
			</div>
			<div>
				<ul class="am-list am-list-border zy-navTitle-list">
					<li><a href="">技术论坛</a></li>
					<li><a href="">推荐书籍</a></li>
					<li><a href="">视频资源</a></li>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">后端开发</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="">技术论坛</a></li>
					<li><a href="">推荐书籍</a></li>
					<li><a href="">视频资源</a></li>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">客户端开发</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="">技术论坛</a></li>
					<li><a href="">推荐书籍</a></li>
					<li><a href="">视频资源</a></li>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">产品运营</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="">技术论坛</a></li>
					<li><a href="">推荐书籍</a></li>
					<li><a href="">视频资源</a></li>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">产品设计</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="">技术论坛</a></li>
					<li><a href="">推荐书籍</a></li>
					<li><a href="">视频资源</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-10 am-u-lg-10">

				<div class="js-masonry" data-masonry-options='{ "itemSelector": "section", "columnWidth": 200 }'>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
					<section class="am-panel am-panel-default">
					  <main class="am-panel-bd">
					    面板内容
					  </main>
					  <footer class="am-panel-footer">面板页脚</footer>
					</section>
				</div>
		</div>
	</div>
</section>

<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>

<% include footer.html %>
