<% include header.html %>


<section class="zy-resource-sec">
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<div class="col-lg-2 am-u-lg-2">
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">前端开发</h2>
			</div>
			<div>
				<ul class="am-list am-list-border zy-navTitle-list">
					<li><a href="/navs?typ=1">技术论坛 (12)</a></li>
					<li><a href="/navs?typ=1">推荐书籍 (12)</a></li>
					<li><a href="/navs?typ=1">视频资源 (12)</a></li>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">后端开发</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="/navs?typ=2">技术论坛 (12)</a></li>
					<li><a href="/navs?typ=2">推荐书籍 (12)</a></li>
					<li><a href="/navs?typ=2">视频资源 (12)</a></li>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">客户端开发</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="/navs?typ=3">技术论坛 (12)</a></li>
					<li><a href="/navs?typ=3">推荐书籍 (12)</a></li>
					<li><a href="/navs?typ=3">视频资源 (12)</a></li>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">产品运营</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="/navs?typ=4">技术论坛 (12)</a></li>
					<li><a href="/navs?typ=4">推荐书籍 (12)</a></li>
					<li><a href="/navs?typ=4">视频资源 (12)</a></li>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">产品设计</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="/navs?typ=5">技术论坛 (12)</a></li>
					<li><a href="/navs?typ=5">推荐书籍 (12)</a></li>
					<li><a href="/navs?typ=5">视频资源 (12)</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-10 am-u-lg-10" style="margin-top:35px;">
			<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
				<a name="">
					<button class="am-btn am-btn-secondary am-btn-xl">
						技术论坛
					</button>
				</a>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip" title="面板内容面板内容面板内容面板内容面板内内内容面板内容面板内容面板内容面板内容面板内">
						面板内容面板内容面板内容面板内容面板内内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
				<a name="">
					<button class="am-btn am-btn-secondary am-btn-xl">
						推荐书籍
					</button>
				</a>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
				<a name="">
					<button class="am-btn am-btn-secondary am-btn-xl">
						视频资源
					</button>
				</a>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<% include footer.html %>