<div class="col-lg-2 am-u-lg-2">
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">前端开发</h2>
	</div>
	<div>
		<ul class="am-list am-list-border zy-navTitle-list">
			<li><a href="/navs1#nav1">技术论坛 (12)</a></li>
			<li><a href="/navs1#nav2">推荐书籍 (12)</a></li>
			<li><a href="/navs1#nav3">视频资源 (12)</a></li>
		</ul>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">后端开发</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
			<li><a href="/navs2#nav1">技术论坛 (12)</a></li>
			<li><a href="/navs2#nav2">推荐书籍 (12)</a></li>
			<li><a href="/navs2#nav3">视频资源 (12)</a></li>
		</ul>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">客户端开发</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
			<li><a href="/navs3#nav1">技术论坛 (12)</a></li>
			<li><a href="/navs3#nav2">推荐书籍 (12)</a></li>
			<li><a href="/navs3#nav3">视频资源 (12)</a></li>
		</ul>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">数据库开发</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
			<li><a href="/navs4#nav1">技术论坛 (12)</a></li>
			<li><a href="/navs4#nav2">推荐书籍 (12)</a></li>
			<li><a href="/navs4#nav3">视频资源 (12)</a></li>
		</ul>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">产品运营</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
			<li><a href="/navs5#nav1">技术论坛 (12)</a></li>
			<li><a href="/navs5#nav2">推荐书籍 (12)</a></li>
			<li><a href="/navs5#nav3">视频资源 (12)</a></li>
		</ul>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">UI设计</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
			<li><a href="/navs6#nav1">技术论坛 (12)</a></li>
			<li><a href="/navs6#nav2">推荐书籍 (12)</a></li>
			<li><a href="/navs6#nav3">视频资源 (12)</a></li>
		</ul>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">综合性资源</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
			<li><a href="/navs7#nav1">技术论坛 (12)</a></li>
			<li><a href="/navs7#nav2">推荐书籍 (12)</a></li>
			<li><a href="/navs7#nav3">视频资源 (12)</a></li>
		</ul>
	</div>
</div>
		