<% include header.html %>


<section class="zy-resource-sec">
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<% include navs_slider.html %>
		<div class="col-lg-10 am-u-lg-10" style="margin-top:30px;">
			<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
				<a name="nav1">
					<button class="am-btn am-btn-secondary am-btn-xl">
						技术论坛
					</button>
				</a>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip" title="面板内容面板内容面板内容面板内容面板内内内容面板内容面板内容面板内容面板内容面板内">
						面板内容面板内容面板内容面板内容面板内内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
				<a name="nav2">
					<button class="am-btn am-btn-secondary am-btn-xl">
						推荐书籍
					</button>
				</a>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
				<a name="nav3">
					<button class="am-btn am-btn-secondary am-btn-xl">
						视频资源
					</button>
				</a>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<% include footer.html %>