<% include header.html %>


<section class="zy-resource-sec">
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<% include navs_slider.html %>
		<div class="col-lg-10 am-u-lg-10" style="margin-top:30px;">
			<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
				<a name="nav1">
					<button class="am-btn am-btn-secondary am-btn-xl">
						技术论坛
					</button>
				</a>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://www.chengxuyuans.com/" target="_blank">程序员网</a><br>
					<div class="zy-module-tip" title="面板内容面板内容面板内容面板内容面板内内内容面板内容面板内容面板内容面板内容面板内">
						面板内容面板内容面板内容面板内容面板内内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://segmentfault.com/" target="_blank">Segment</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://www.cnblogs.com/" target="_blank">博客园</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://www.mycodes.net/" target="_blank">源码之家</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://www.w3cplus.com/" target="_blank">W3CPLUS</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="https://github.com/" target="_blank">GitHub</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://www.runoob.com/" target="_blank">菜鸟教程</a><br>
					<div class="zy-module-tip" title="菜鸟教程提供了最全的编程技术基础教程, 介绍了HTML、CSS、Javascript、Python、Java、Ruby、C、PHP、 MySQL等各种编程语言的基础知识。">
						菜鸟教程提供了最全的编程技术基础教程, 介绍了HTML、CSS、Javascript、Python、Java、Ruby、C、PHP、 MySQL等各种编程语言的基础知识。
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://www.w3school.com.cn/html/" target="_blank">W3school</a><br>
					<div class="zy-module-tip" title="全球最大的中文 Web 技术教程。在w3school,你可以找到你所需要的所有的网站建设教程。">
						全球最大的中文 Web 技术教程。在w3school,你可以找到你所需要的所有的网站建设教程。
					</div>
				</div>
			</div>
			<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
				<a name="nav2">
					<button class="am-btn am-btn-secondary am-btn-xl">
						推荐书籍
					</button>
				</a>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="col-sm-12 am-u-sm-12 zy-navigation-nav">
				<a name="nav3">
					<button class="am-btn am-btn-secondary am-btn-xl">
						视频资源
					</button>
				</a>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://study.163.com/" target="_blank">网易云课堂</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://www.imooc.com/" target="_blank">慕课网</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="http://www.jikexueyuan.com/" target="_blank">极客学院</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
			<div class="item col-md-4 am-u-md-4 am-u-sm-4 am-u-end">
				<div class="am-alert am-alert-secondary">
					<a href="" target="_blank">
						面板标题
					</a><br>
					<div class="zy-module-tip">
						面板内容面板内容面板内容面板内容面板内内容面板内容面板内容面板内容面板内容面板内
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<% include footer.html %>