<% include header.html %>
	<style>
	.zy-titleList a {
		font-size: 14px;
		color: #444;
	}
	
	.zy-titleList a:hover {
		color: #0e90d2;
	}
	</style>
	<section style="margin-top:5rem;">
		<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
			<div class="col-lg-6 am-u-lg-6">
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a target="_blank" href="/allarticle" class="">
							<h2>社会招聘信息</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那些囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我最喜欢的一张画
						  	</a>
								<span class="am-list-date">2013-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！
						  	</a>
								<span class="am-list-date">2013-11-18</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 am-u-lg-6">
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a target="_blank" href="/allinfo" class="">
							<h2>校园招聘信息</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我最喜欢的一张画
				          </a>
								<span class="am-list-date">2013-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！
				          </a>
								<span class="am-list-date">2013-11-18</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
			<div class="col-lg-6 am-u-lg-6">
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a target="_blank" href="/allarticle" class="">
							<h2>宣讲会信息</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我最喜欢的一张画
				          </a>
								<span class="am-list-date">2013-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！
				          </a>
								<span class="am-list-date">2013-11-18</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 am-u-lg-6">
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a target="_blank" href="/allarticle" class="">
							<h2>资源导航信息汇总</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我最喜欢的一张画
				          </a>
								<span class="am-list-date">2013-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！
				          </a>
								<span class="am-list-date">2013-11-18</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
			<div class="col-lg-6 am-u-lg-6">
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a target="_blank" href="/allarticle" class="">
							<h2>热门博文推荐</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我很囧，你保重....晒晒旅行中的那些囧！
						  	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我最喜欢的一张画
						  	</a>
								<span class="am-list-date">2013-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
						  		我最喜欢的一张画
						  	</a>
								<span class="am-list-date">2013-10-14</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 am-u-lg-6">
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a target="_blank" href="/allarticle" class="">
							<h2>热门面试经验推荐</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那些囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那些囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那些囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那些囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那些囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		我很囧，你保重....晒晒旅行中的那些囧！
				          	</a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		我最喜欢的一张画
				          	</a>
								<span class="am-list-date">2013-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          		“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！
				          	</a>
								<span class="am-list-date">2013-11-18</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
			<div class="col-lg-6 am-u-lg-6">
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a target="_blank" href="/allarticle" class="">
							<h2>优秀个人作品欣赏</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我最喜欢的一张画
				          </a>
								<span class="am-list-date">2013-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！
				          </a>
								<span class="am-list-date">2013-11-18</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 am-u-lg-6">
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a target="_blank" href="/allarticle" class="">
							<h2>优秀个人简历推荐</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我很囧，你保重....晒晒旅行中的那些囧！
				          </a>
								<span class="am-list-date">2013-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	我最喜欢的一张画
				          </a>
								<span class="am-list-date">2013-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a target="_blank" href="/allarticle" class="am-list-item-hd ">
				          	“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！
				          </a>
								<span class="am-list-date">2013-11-18</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<% include footer.html %>
