<% include header.html %>

<section class="zy-talpool-sec" id="zy-users-div">
	<div class="am-g">
		<div class="am-u-lg-6 am-u-md-9 am-u-sm-centered">
			<div class="am-input-group am-input-group-primary">
				<input type="text" class="am-form-field am-input-lg" placeholder="请输入所要查找内容的特征或条件！">
				<span class="am-input-group-btn">
			        <button class="am-btn am-btn-primary" type="button">
			        	<span style="font-weight:bold;font-size:22px;letter-spacing:1px;">Search</span>
					</button>
				</span>
			</div>
		</div>
	</div>
	<br><br>
	<hr data-am-widget="divider" />
	<form class="zy-talentpool-result" autocomplete ='off'>
		<div class="am-u-lg-9 am-u-md-11 am-u-sm-centered" style="padding:0 5rem;">
			<div class="am-form-group">
				<span style="font-size:14px;color:#0a6999">人才类型：</span>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 在校学生
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" checked data-am-ucheck> 应届毕业生
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 1~3年工作经验
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" checked data-am-ucheck> 3~5年工作经验
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 5年以上工作经验
				</label>
			</div>
			<div class="am-form-group">
				<span style="font-size:14px;color:#0a6999">需求类型：</span>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" checked data-am-ucheck> 校园招聘职位
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" checked data-am-ucheck> 社会招聘职位
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 实习生招聘职位
				</label>
			</div>
			<div class="am-form-group">
				<span style="font-size:14px;color:#0a6999">学校类型：</span>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 985院校
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 211院校
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" checked data-am-ucheck> 一本院校
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 二本院校
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" checked data-am-ucheck> 三本院校
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 大专及其他
				</label>
			</div>
			<div class="am-form-group">
				<span style="font-size:14px;color:#0a6999">学历水平：</span>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 博士及以上
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" checked data-am-ucheck> 硕士
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 本科
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" checked data-am-ucheck> 大专
				</label>
				<label class="am-checkbox-inline">
					<input type="checkbox" value="" data-am-ucheck> 高中及以下
				</label>
			</div>
		</div>
	<form>
	<br>
	<div class="am-g" style="margin-top:10px;">
		<div class="am-u-lg-9 am-u-md-11 am-u-sm-centered" id="zy-all-users">
			<% for(var i=0; i<results.length; i++) { %>
				<a target="_blank" href="/<%= results[i].username %>/index">
					<div class="am-u-lg-2 am-u-md-3 am-u-sm-6 am-u-end">
						<img style="width:100%" src="<%= results[i].headimg %>" alt="" class="am-img-thumbnail am-circle">
						<div class="zy-talent-name">
							<h3><%= uNameChg(results[i].username) %></h3>
						</div>
					</div>
				</a>
			<% } %>
		</div>
	</div>
	<div class="am-g" style="margin-top:2rem;">
		<div class="am-u-lg-9 am-u-md-11 am-u-sm-centered" id="pageShow" style="<% if(results.length<1) { %>display:none;<% } %>">
			<ul class="am-pagination am-pagination-right">
				共<%= allpage %>页&nbsp;
				<% if(showpagetip > 1) {%>
					<li class="J_pre-page"><a href="javascript:void(0);">&laquo;</a></li>
					<% for(var i=1; i<=showpagetip; i++) {%>
						<% if(i==1) { %>
							<li class="am-active"><a href="javascript:void(0);">1</a></li>
						<% }else{ %>
							<li><a href="javascript:void(0);"><%= i %></a></li>
						<% } %>
					<% } %>
					<li class="J_next-page"><a href="javascript:void(0);">&raquo;</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</section>	


<script>
	window.__data={
		allpage: <%= allpage %>,
		showpagetip: <%= showpagetip %>,
		nums: <%= nums %>,
		uName: "<%= uName %>"
	}
</script>


<% include footer.html %>