<% include ../myheader.html %>

<section id="zy-all-arts" style="margin-top:6rem;margin-bottom:8rem;">
	<div class="am-g am-g-fixed">
		<div data-am-widget="list_news" class="am-list-news am-list-news-default">
			<div class="am-list-news-hd am-cf">
				<a href="javascript:void(0);" class=""><h2>原创博文汇总</h2></a>
			</div>
			<div class="am-list-news-bd">
				<ul class="am-list">
					<% for(var i=0; i<resul.length; i++){ %>
						<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
							<div class="am-u-sm-2 am-list-thumb">
								<a href="javascript:void(0);">
									<% if(resul[i].articleImgs.length>0){ %>
										<img src="<%= resul[i].articleImgs[0] %>" alt="<%= resul[i].articleTitle %>" />
									<% }else{ %>
										<img src="/images/default.png" alt="本篇文章中没有图片哦~" />
									<% } %>
								</a>
							</div>
							<div class=" am-u-sm-10 am-list-main">
								<h3 class="am-list-item-hd">
	                    			<a target="_blank" href="/<%= uName %>/blogs_art?aid=<%= resul[i]._id %>" ><%= resul[i].articleTitle %></a>
	                      		</h3>
								<div class="am-list-item-text"><%= resul[i].articleAbstract %></div>
							</div>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
		<br>
		<div id="pageShow" style="<% if(resul.length<1) { %>display:none;<% } %>">
			<ul class="am-pagination am-pagination-right">
				共<%= allpage %>页&nbsp;
				<% if(showpagetip > 1) {%>
					<li class="J_pre-page"><a href="javascript:void(0);">&laquo;</a></li>
					<% for(var i=1; i<=showpagetip; i++) {%>
						<% if(i==1) { %>
							<li class="am-active"><a href="javascript:void(0);">1</a></li>
						<% }else{ %>
							<li><a href="javascript:void(0);"><%= i %></a></li>
						<% } %>
					<% } %>
					<li class="J_next-page"><a href="javascript:void(0);">&raquo;</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</section>

<script id='allArts' type="text/template">
	<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
		<div class="am-u-sm-2 am-list-thumb">
			<a href="javascript:void(0);">
				{{ if(articleImgs.length>0){ }}
					<img src="{{= articleImgs[0] }}" alt="{{= articleTitle }}" />
				{{ }else{ }}
					<img src="/images/default.png" alt="本篇文章中没有图片哦~" />
				{{ } }}
			</a>
		</div>
		<div class=" am-u-sm-10 am-list-main">
			<h3 class="am-list-item-hd">
  			<a target="_blank" href="/<%= uName %>/blogs_art?aid={{= _id }}" >{{= articleTitle }}</a>
    		</h3>
			<div class="am-list-item-text">{{= articleAbstract }}</div>
		</div>
	</li>
</script>


<script>
	window.__data={
		allpage: <%= allpage %>,
		showpagetip: <%= showpagetip %>,
		nums: <%= nums %>,
		uName: "<%= uName %>",
		typ: "<%= typ %>"
	}
</script>

<% include ../myfooter.html %>
