<% include ../myheader.html %>

<style>
.am-article-bd img {
    display: inline-block;
}
</style>

<div class="am-g am-g-fixed zy-article-page">
    <article class="am-article" style="overflow:hidden;">
        <div class="am-article-hd">
            <h1 class="am-article-title"><%= resul.articleTitle %></h1>
            <p class="am-article-meta">
               作者：<%= resul.author %> / 类型：<%= artTypsChg(resul.articleType) %> / 时间：<%= dateformat(resul.cTime) %> / 关键字：<%= resul.articleKeyword %>
            </p>
        </div>
        <div class="am-article-bd">
            <p class="am-article-lead">
                摘要：<%= resul.articleAbstract %>
            </p>
            <%- resul.articleCont %>
        </div>
    </article>
</div>

<div class="am-g am-g-fixed zy-article-comment">
    <ul class="am-comments-list">
    <% if(resul2.length>0) { %>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" /><br>
        <% for(var j=0; j<resul2.length; j++){ %>
            <li class="am-comment">
                <a href="#link-to-user-home">
                    <img src=" <%= resul2[j].authorImg %> " alt="" class="am-comment-avatar" width="48" height="48" />
                </a>
                <div class="am-comment-main">
                    <header class="am-comment-hd">
                        <div class="am-comment-meta">
                            <a href="#link-to-user" class="am-comment-author"><%= resul2[j].author %></a> 评论于
                            <time datetime="<%= resul2[j].cTime %>"><%= dateformat(resul2[j].cTime) %></time>
                        </div>
                    </header>
                    <div class="am-comment-bd"> <%= resul2[j].CommentCont %> </div>
                    <div class="am-comment-footer am-comment-actions">
                        <a class="am-post-reply" href="javascript:void(0);">
                            <span class="am-icon am-icon-reply"></span> 回复
                        </a>
                        <a class="am-post-likes" href="javascript:void(0);">
                            <span class="am-icon-anchor"></span> 顶
                        </a>
                        <a class="am-post-repost" href="javascript:void(0);">
                            <span class="am-icon am-icon-share"></span> 转发
                        </a>
                        <a class="am-post-report" href="javascript:void(0);">
                            <span class="am-icon-bolt"></span> 举报
                        </a>
                    </div>
                </div>
            </li>  
        <% } %>
        <% } %>
    </ul>
</div>

<br><hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />

<div class="am-g am-g-fixed" id="zy-blog-com">
    <form class="am-form comFrom" data-artid="<%= resul._id %>" data-authorid="<%= resul.author %>">
        <label for="message" class="about-color">我的评论：</label>
        <textarea class="comment" rows="5"></textarea>
        <br/>
        <a class="am-btn am-btn-primary am-btn-sm zy-button1">提交评论</a>
        <a class="am-btn am-btn-default am-btn-sm" href="/login">去登录</a>
        <a class="am-btn am-btn-default am-btn-sm" href="/register" target="_blank">去注册</a>
    </form>
</div>

<br><br>

<% include ../myfooter.html %>
