<% include ../myheader.html %>
<section id="zy-userAllBlog1">
	<% include ../nav.html %>
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered zy-manage-article">
		<% include ./userAllBlogNav.html %>
		<div class="col-lg-10 am-u-lg-10 zy-show-lg-content">
			<table class="am-table am-table-striped am-table-hover am-table-centered">
				<% if (allArticles.length>0) { %>
					<thead>
						<tr>
							<th style="width:6rem">序号</th>
							<th style="min-width:10rem">博文名称</th>
							<th style="width:10rem">博文类型</th>
							<th style="width:10rem">创建时间</th>
							<th style="width:6rem">操作</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<allArticles.length; i++) {%>
							<tr data-ids="<%= allArticles[i]._id %>">
								<td class="am-text-middle">
									<%= i+1 %>
								</td>
								<td class="am-text-middle">
									<%= allArticles[i].articleTitle %>
								</td>
								<td class="am-text-middle">
									<%= artTypsChg(allArticles[i].articleType) %>
								</td>
								<td class="am-text-middle">
									<%= dateformat(allArticles[i].cTime) %>
								</td>
								<td class="am-text-middle">
									<a target="_blank" href="/<%= uName %>/blogs_art?aid=<%= allArticles[i]._id %>">查看</a>
								</td>
							</tr>
						<% } %>
					</tbody>
				<% } %>
			</table>
			<div id="pageShow" style="<% if(allArticles.length<1) { %>display:none;<% } %>">
				<ul class="am-pagination am-pagination-right">
					共<%= allpage %>页&nbsp;
					<% if(showpagetip > 1) {%>
						<li class="J_pre-page"><a href="javascript:void(0);">&laquo;</a></li>
						<% for(var i=1; i<=showpagetip; i++) {%>
							<% if(i==1) { %>
								<li class="am-active"><a href="javascript:void(0);">1</a></li>
							<% }else{ %>
								<li><a href="javascript:void(0);"><%= i %></a></li>
							<% } %>
						<% } %>
						<li class="J_next-page"><a href="javascript:void(0);">&raquo;</a></li>
					<% } %>
				</ul>
			</div>

		</div>
	</div>
</section>

<br><br><br>


<script id='userAllBlog1' type="text/template">
	<tr data-ids="{{= _id }}">
		<td class="am-text-middle">
			{{= _idTmp }}
		</td>
		<td class="am-text-middle">
			{{= articleTitle }}
		</td>
		<td class="am-text-middle">
			{{= articleType }}
		</td>
		<td class="am-text-middle">
			{{= cTime }}
		</td>
		<td class="am-text-middle">
			<a target="_blank" href="/<%= uName %>/blogs_art?aid={{= _id }}">查看</a>
		</td>
	</tr>
</script>

<script>
	window.__data={
		allpage: <%= allpage %>,
		showpagetip: <%= showpagetip %>,
		nums: <%= nums %>,
		artTyp: <%= artTyp %>,
		uName: "<%= uName %>",
		signed: "<%= signed %>",
		vCode: "<%= vCode %>"
	}
</script>

<% include ../myfooter.html %>
