<% include ../myheader.html %>
	
<section id="zy-userAllBlog">
	<% include ../nav.html %>
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered zy-manage-article">
		<div class="col-lg-2 am-u-lg-2 am-show-lg-only zy-show-lg-nav">
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">原创博文</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="/blogs_art_pub">技术博文<span class="am-nav-en">(<%= resul[0].length %>)</span></a></li>
					<li><a href="/blogs_art_pri">行业远瞻<span class="am-nav-en">(<%= resul[1].length %>)</span></a></li>
					<li><a href="/blogs_art_pri">生活日志<span class="am-nav-en">(<%= resul[2].length %>)</span></a></li>
					<li><a href="/blogs_art_pri">随便写写<span class="am-nav-en">(<%= resul[3].length %>)</span></a></li>
				</ul>
			</div>
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
				<h2 class="am-titlebar-title ">面试经验</h2>
			</div>
			<div>
				<ul class="am-list am-list-border">
					<li><a href="/blogs_art_rea">面试经验<span class="am-nav-en">(<%= resul[4].length %>)</span></a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-10 am-u-lg-10 zy-show-lg-content">
			<table class="am-table am-table-striped am-table-hover am-table-centered">
				<% if (allArticles.length>0) { %>
					<thead>
						<tr>
							<th style="width:6rem">序号</th>
							<th style="min-width:10rem">博文名称</th>
							<th style="width:10rem">博文类型</th>
							<th style="width:10rem">创建时间</th>
							<th style="width:6rem">操作</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<allArticles.length; i++) {%>
							<tr data-ids="<%= allArticles[i]._id %>">
								<td class="am-text-middle">
									<%= i+1 %>
								</td>
								<td class="am-text-middle">
									<%= allArticles[i].articleTitle %>
								</td>
								<td class="am-text-middle">
									<%= artTyp(allArticles[i].articleType) %>
								</td>
								<td class="am-text-middle">
									<%= dateformat(allArticles[i].cTime) %>
								</td>
								<td class="am-text-middle">
									<a href="/blogs_art?aid=<%= allArticles[i]._id %>">查看</a><br>
								</td>
							</tr>
						<% } %>
					</tbody>
				<% } %>
			</table>
			
		</div>
	</div>
</section>

<br><br><br>



<% include ../myfooter.html %>
