<div class="col-lg-2 am-u-lg-2 am-show-lg-only zy-show-lg-nav">
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">原创博文</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
			<% for(var i=0,len=modules.length; i<len; i++){ %>
				<% if(modules[i].modelNam=='博文面经'){ %>
					<% for(var j=0, lenj=modules[i].sunModels.length; j<lenj; j++){ %>
						<% if(modules[i].sunModels[j].sunYesNo==1 && modules[i].sunModels[j].sunNam=='技术博文'){ %>
							<% if(signed=='2'){ %>
								<li><a href="/<%= uName %>/blogs_aart?typ=0&vCode=<%= vCode %>">技术博文<span class="am-nav-en">(<%= resul[0].length %>)</span></a></li>
							<% }else{ %>
								<li><a href="/<%= uName %>/blogs_aart?typ=0">技术博文<span class="am-nav-en">(<%= resul[0].length %>)</span></a></li>
							<% } %>
						<% }else if(modules[i].sunModels[j].sunYesNo==1 && modules[i].sunModels[j].sunNam=='行业远瞻'){ %>
							<% if(signed=='2'){ %>
								<li><a href="/<%= uName %>/blogs_aart?typ=1&vCode=<%= vCode %>">行业远瞻<span class="am-nav-en">(<%= resul[1].length %>)</span></a></li>
							<% }else{ %>
								<li><a href="/<%= uName %>/blogs_aart?typ=1">行业远瞻<span class="am-nav-en">(<%= resul[1].length %>)</span></a></li>
							<% } %>
						<% }else if(modules[i].sunModels[j].sunYesNo==1 && modules[i].sunModels[j].sunNam=='生活日志'){ %>
							<% if(signed=='2'){ %>
								<li><a href="/<%= uName %>/blogs_aart?typ=2&vCode=<%= vCode %>">生活日志<span class="am-nav-en">(<%= resul[2].length %>)</span></a></li>
							<% }else{ %>
								<li><a href="/<%= uName %>/blogs_aart?typ=2">生活日志<span class="am-nav-en">(<%= resul[2].length %>)</span></a></li>
							<% } %>
						<% }else if(modules[i].sunModels[j].sunYesNo==1 && modules[i].sunModels[j].sunNam=='随便写写'){ %>
							<% if(signed=='2'){ %>
								<li><a href="/<%= uName %>/blogs_aart?typ=3&vCode=<%= vCode %>">随便写写<span class="am-nav-en">(<%= resul[3].length %>)</span></a></li>
							<% }else{ %>
								<li><a href="/<%= uName %>/blogs_aart?typ=3">随便写写<span class="am-nav-en">(<%= resul[3].length %>)</span></a></li>
							<% } %>
						<% } %>
					<% } %>
				<% } %>
			<% } %>
		</ul>
	</div>

	<% for(var i=0,len=modules.length; i<len; i++){ %>
		<% if(modules[i].modelNam=='博文面经'){ %>
			<% for(var j=0, lenj=modules[i].sunModels.length; j<lenj; j++){ %>
				<% if(modules[i].sunModels[j].sunYesNo==1 && modules[i].sunModels[j].sunNam=='面试经验'){ %>
					<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
						<h2 class="am-titlebar-title ">面试经验</h2>
					</div>
					<div>
						<ul class="am-list am-list-border">
					<% if(signed=='2'){ %>
						<li><a href="/<%= uName %>/blogs_aexp?vCode=<%= vCode %>">面试经验<span class="am-nav-en">(<%= resul[4].length %>)</span></a></li>
					<% }else{ %>
						<li><a href="/<%= uName %>/blogs_aexp">面试经验<span class="am-nav-en">(<%= resul[4].length %>)</span></a></li>
					<% } %>
						</ul>
					</div>
				<% } %>
			<% } %>
		<% } %>
	<% } %>
	
</div>

