<% include ../../myheader.html %>

<style>
.blog-sidebar {
	font-size: 1.4rem;
}
.blog-main {
  	padding: 20px 0;
}
.blog-title {
  	margin: 10px 0 20px 0;
}
.blog-meta {
  	font-size: 14px;
  	margin: 10px 0 20px 0;
  	color: #222;
}
.blog-meta a {
  	color: #27ae60;
}
.blog-pagination a {
  	font-size: 1.4rem;
}
.blog-team li {
  	padding: 4px;
}
.blog-team img {
  	margin-bottom: 0;
}
.blog-content img, .blog-team img {
  	max-width: 100%;
  	height: auto;
}
.blog-footer {
  	padding: 10px 0;
  	text-align: center;
}
.am-panel-default {
    margin-top: 3.5rem;
}
</style>



<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered" style="margin-top:5rem;margin-bottom:10rem;">
	<div class="am-u-md-8">
			<article class="blog-main">
			  	<h3 class="am-article-title blog-title">
			    	<a href="#">Google fonts 的字體（display 篇）</a>
			  	</h3>
			  	<h4 class="am-article-meta blog-meta">
			  		by <a href="">open</a> posted on 2014/06/17 under <a href="#">字体</a>
			  	</h4>

			 	<div class="am-g blog-content">
			    	<div class="am-u-lg-7">
				      	<p>你自信滿滿的跟客戶進行第一次 demo。秀出你精心設計的內容時，你原本期許防地掉下感動的眼淚。</p>
				      	<p>因為那實在是太高級了。</p>
				      	<p>除了各項基本架構幾乎完美無缺之外，內文是高貴的，有著一些距離感的，典雅的襯線字體。不是 Times New
				        Roman，而是很少有人見過的，你精心挑選過的字體，凸顯你品味的高超。而且它並沒有花上你與業主一毛錢，或許這也非常重要。</p>
			    	</div>
			    	<div class="am-u-lg-5">
			      		<p><img style="width:100%" src="/images/exp3.jpg"></p>
			    	</div>
			  	</div>
			  	<div class="am-g">
				    <div class="am-u-sm-12">
				      	<p>看著自己的作品，你的喜悅之情溢於言表，差點就要說出我要感謝我的父母之類的得獎感言。但在你對面的客戶先是一點表情也沒有，又瞬間轉為陰沉，抿了抿嘴角冷冷的說……</p>
				      	<p>「我要一種比較跳的感覺懂嗎？」</p>
				    </div>
			  	</div>
			</article>

			<hr class="am-article-divider blog-hr">

		<ul class="am-pagination blog-pagination">
		  	<li class="am-pagination-prev"><a href="">&laquo; 上一个</a></li>
		  	<li class="am-pagination-next"><a href="">下一个 &raquo;</a></li>
		</ul>

	</div>

		<div class="am-u-md-4 blog-sidebar">
			<div class="am-panel-group">
		     	<section class="am-panel am-panel-default">
	 	         	<div class="am-panel-bd">
	     	           	<div class="user-info">
	     	             	<p>荣誉关注度</p>
	     	             	<div class="am-progress am-progress-sm">
		     	               	<div class="am-progress-bar" style="width: 60%"></div>
	     	             	</div>
	     	             	<p class="user-info-order">当前等级：<strong>LV8</strong> 活跃天数：<strong>587</strong> 距离下一级别：<strong>160</strong></p>
	     	           	</div>
	     	           	<div class="user-info">
	     	             	<p>信用信息</p>
	     	             	<div class="am-progress am-progress-sm">
		     	               	<div class="am-progress-bar am-progress-bar-success" style="width: 80%"></div>
	     	             	</div>
	     	             	<p class="user-info-order">信用等级：正常当前 信用积分：<strong>80</strong></p>
	     	           	</div>
	 	         	</div>
	 	       	</section>
				<section class="am-panel am-panel-default" style="margin-top:3rem;">
				  <div class="am-panel-hd">最近浏览用户</div>
				  <div class="am-panel-bd">
				    <ul class="am-avg-sm-5 blog-team">
				    	<% for(var i=0; i<10; i++){ %>
				    		<li>
				    			<a href="#"><img src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" class="am-thumbnail"/></a>
				    		</li>
				    	<% } %>
				    </ul>
				  </div>
				</section>
			</div>
		</div>

</div>


<% include ../../myfooter.html %>