<% include ../../myheader.html %>

<style>
.blog-sidebar {
	font-size: 1.4rem;
}
.blog-main {
  	padding: 20px 0;
}
.blog-title {
  	margin: 10px 0 20px 0;
}
.blog-meta {
  	font-size: 14px;
  	margin: 10px 0 20px 0;
  	color: #222;
}
.blog-meta a {
  	color: #27ae60;
}
.blog-pagination a {
  	font-size: 1.4rem;
}
.blog-team li {
  	padding: 4px;
}
.blog-team img {
  	margin-bottom: 0;
}
.blog-content img, .blog-team img {
  	max-width: 100%;
  	height: auto;
}
.blog-footer {
  	padding: 10px 0;
  	text-align: center;
}
.am-panel-default {
    margin-top: 3.5rem;
}
</style>

<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered" style="margin-top:5rem;margin-bottom:7rem;">
	<div class="am-u-md-8">
		<article class="blog-main">
		  	<h3 class="am-article-title blog-title">
		    	<a href="#"><%= rs.school %></a>
		  	</h3>
		  	<!-- <h4 class="am-article-meta blog-meta">
		  		学历：<a href="#"><%= rs.educationtype %></a>
		  	</h4> -->
		 	<div class="am-g blog-content">
		 		<div class="am-u-lg-5"> 
		 	  		<img style="display:block;padding:1rem;width:100%" src="<%= rs.schoolLogo %>">
		 		</div>
		    	<div class="am-u-lg-7">
		    		<p>学历：<%= eduType(rs.educationtype) %></p>
			    	<p>专业：<%= rs.major %></p> 
			      	<p>学院：<%= rs.collegeName %></p>
			      	<p>开始时间：<%= dateformat(rs.edatetime, 'YYYY-MM-DD') %></p>
			      	<p>结束时间：<%= dateformat(rs.sdatetime, 'YYYY-MM-DD') %></p>
		    	</div>
		  	</div>
		  	<div class="am-g">
			    <div class="am-u-sm-12">
			      	<p><%= rs.majorinstr %></p>
			    </div>
		  	</div>
		</article>
		<hr class="am-article-divider blog-hr">
		<ul class="am-pagination blog-pagination">
		  	<li class="am-pagination-prev"><a href="">&laquo; 上一个</a></li>
		  	<li class="am-pagination-next"><a href="">下一个 &raquo;</a></li>
		</ul>
	</div>

	<div class="am-u-md-4 blog-sidebar">
		<div class="am-panel-group">
	     	<section class="am-panel am-panel-default">
 	         	<div class="am-panel-bd">
     	           	<div class="user-info">
     	             	<p>教育经历可信度</p>
     	             	<div class="am-progress am-progress-sm">
	     	               	<div class="am-progress-bar" style="width: 60%"></div>
     	             	</div>
     	             	<p class="user-info-order">优<strong>(8)</strong>; 良<strong>(587)</strong>; 差<strong>(160)</strong></p>
     	           	</div>
     	           	<div class="user-info">
     	             	<p>教育经历关注度</p>
     	             	<div class="am-progress am-progress-sm">
	     	               	<div class="am-progress-bar am-progress-bar-success" style="width: 80%"></div>
     	             	</div>
     	             	<p class="user-info-order">赞<strong>(80)</strong>; 收藏<strong>(10)</strong>; 举报<strong>(0)</strong></p>
     	           	</div>
 	         	</div>
 	       	</section>
			<section class="am-panel am-panel-default" style="margin-top:3rem;">
			  	<div class="am-panel-hd">最近浏览用户</div>
			  	<div class="am-panel-bd">
				    <ul class="am-avg-sm-5 blog-team">
				    	<% for(var i=0; i<10; i++){ %>
				    		<li>
				    			<a href="#"><img src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" class="am-thumbnail"/></a>
				    		</li>
				    	<% } %>
				    </ul>
			  	</div>
			</section>
		</div>
	</div>
</div>

<hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />

<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
    <div class="am-u-sm-12">
        <% for(var i=0,len=rs2.length; i<len; i++) {%>
        	<div class="am-u-sm-12">
        	    <br>
        	    <article class="am-comment">
        	      	<a href="#link-to-user-home">
        	        	<img src="<%= rs2[i].authorImg %>" alt="" class="am-comment-avatar" width="48" height="48"/>
        	      	</a>
        	      	<div class="am-comment-main">
	        	        <header class="am-comment-hd">
	        	          	<div class="am-comment-meta">
	        	            	<a href="#link-to-user" class="am-comment-author"><%= rs2[i].author %></a>
	        	            	评论于 <time><%= dateformat(rs2[i].cTime) %></time>
	        	          	</div>
	        	        </header>
	        	        <div class="am-comment-bd"><%= rs2[i].CommentCont %></div>
	        	        <div class="am-comment-footer am-comment-actions">
	        	        	<a class="am-post-reply" href="javascript:void(0);">
	        	        		<span class="am-icon am-icon-reply"></span> 回复
	        	        	</a>
	        	        	<a class="am-post-likes" href="javascript:void(0);">
	        	        		<span class="am-icon-anchor"></span> 顶
	        	        	</a>
	        	        	<a class="am-post-repost" href="javascript:void(0);">
	        	        		<span class="am-icon am-icon-share"></span> 转发
	        	        	</a>
	        	        	<a class="am-post-report" href="javascript:void(0);">
	        	        		<span class="am-icon-bolt"></span> 举报
	        	        	</a>
	        	        </div>
        	      </div>
        	    </article>
        	</div>
        <% } %>
    </div>
    
    <div class="am-u-sm-12" id="zy-comment-scl">
        <form autocomplete ='off' class="am-form comFrom" style="margin-top:5rem;padding-right:1.5rem;padding-left:1.5rem" data-resid="<%= ids %>" data-authorid="<%= uName %>">
            <label for="message" class="about-color">我的评论：</label>
            <textarea class="comment" rows="4" value=""></textarea>
            <br/>
            <a class="am-btn am-btn-primary am-btn-sm zy-button1">提交评论</a>
            <a class="am-btn am-btn-default am-btn-sm" href="/login">去登录</a>
            <a class="am-btn am-btn-default am-btn-sm" href="/register" target="_blank">去注册</a>
        </form>
    </div>
</div>

<br><br><br>

<% include ../../myfooter.html %>