<% include ../../myheader.html %>

<style>
.am-list>li>a.zy-rightside-list{
	font-size: 1.3rem;
	padding:0.5rem;
}
.am-panel-hd{
	padding-left: 0.5rem;
}
</style>

<br><br><br>

<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
	<div class="col-lg-9 am-u-lg-9 am-show-lg-only">

		<div data-am-widget="intro" class="am-intro am-cf am-intro-success">
		    <div class="am-intro-hd">
		      	<h2 class="am-intro-title">就会打扫房间房间还是打发还是打发第三方和第三方</h2>
		    </div>
		  	<div class="am-g am-intro-bd">
		      	<div class="am-intro-left am-u-sm-6"><img src="http://www.logodashi.com/Images/logo.jpg" alt="小娜" /></div>
		      	<div class="am-intro-right am-u-sm-6">
		      		<p>时间段：2015-09-22至2016-09-14
		      		<p>部分：</p>
		      		<p>职位：</p>
		      		<p>其他：</p>
	      		</div>
		  	</div>
		</div>

        <br>
        <div class="am-thumbnail am-thumbnail-caption">
            <h3>百年孤独选</h3>
            <p>不存在。深或浅，盖上布，以为不或深或浅，盖或深或浅，盖上布，以为不存在。上布，以为不存在。存在。发生大书法家面板内容或深或浅，盖上布，以为不存在。深或浅，盖上布，以为不或深或浅，盖或深或浅，盖上布，以为不存在。上布，以为不存在。存在。发生大书法家不存在。不存在。深或浅，盖上布，以为不或深或浅，盖或深或浅，盖上布，以为不存在。上布，以为不存在。存在。发生大书法家不存在。深或浅，盖上布，以为不或深或浅，盖或深或浅，盖上布，以为不存在。上布，以为不存在。存在。发生大书法家</p>
        </div>

        <br>
        <div class="am-thumbnail am-thumbnail-caption">
            <h3>百年孤独选</h3>
            <p>对或深或浅，盖上布，以为不存在。方空间或深或浅，盖上布，以为不存在。或深或浅，盖上布，以为或深或浅，盖上布，以为不存在。不存在。的发生大书法家和对方空间的或或深或浅，盖上布，以为不存在。深或浅，盖上布，以为不或深或浅，盖或深或浅，盖上布，以为不存在。上布，以为不存在。存在。发生大书法家和或深或浅，盖上布，以为不存在。</p>
        </div>


		<br><br><br><br><br>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" /><br>
		<div class="am-panel am-panel-success">
		  	<div class="am-panel-hd">简明介绍</div>
            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
            am-avg-md-3 am-avg-lg-6 am-gallery-imgbordered" data-am-gallery="{  }" >
                <% for(var i=0; i<5;i++){ %>
                    <li class="am-gallery-item">
                        <a href="http://file30.mafengwo.net/M00/91/95/wKgBpVW_QEiAaZa9AAg3isT4U_w49.groupinfo.w229.jpeg" class="">
                            <img src="http://file30.mafengwo.net/M00/91/95/wKgBpVW_QEiAaZa9AAg3isT4U_w49.groupinfo.w229.jpeg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                        </a>
                    </li>
                <% } %>
    	   	</ul>
		</div>
		
	</div>
	<div class="col-lg-3 am-u-lg-3">
		<div class="am-panel am-panel-default">
		  	<div class="am-panel-hd">撒打算大家回复</div>
	    	<ul class="am-list">
                <% for(var i=0; i<5; i++){ %>
                    <li><a href="#" class="am-text-truncate zy-rightside-list">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                <% } %>
	    	</ul>
		</div>

		<div class="am-panel am-panel-default">
		  	<div class="am-panel-hd">对方空间的家和</div>
	    	<ul class="am-list">
                <% for(var i=0; i<5; i++){ %>
                    <li><a href="#" class="am-text-truncate zy-rightside-list">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                <% } %>
	    	</ul>
		</div>

		<div class="am-panel am-panel-default">
		  	<div class="am-panel-hd">人都有一个死角</div>
	    	<ul class="am-list">
                <% for(var i=0; i<5; i++){ %>
                    <li><a href="#" class="am-text-truncate zy-rightside-list">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
                <% } %>
	    	</ul>
		</div>
	</div>
</div>

<br><br><br>


<% include ../../myfooter.html %>