
<% include ../myheader.html %>

	<!-- <div class="am-progress am-progress-striped am-active">
        <div class="am-progress-bar" style="width: 65%">65%</div>
        <div class="am-progress-bar am-progress-bar-warning" style="width: 35%">35%</div>
    </div> -->
	<!-- <a data-am-offcanvas="{target: '#doc-oc-demo2',effect: 'push'}">编辑</a>
    <div id="doc-oc-demo2" class="am-offcanvas">
        <div class="am-offcanvas-bar">
            <div class="am-offcanvas-content">

            </div>
        </div>
    </div> -->

	<div class="zy-resume-img">
		 <!-- <img src="/images/title_bg_d.jpg" class="am-img-responsive" alt=""/> -->
		<i class="zy-resume-img-bg"></i>
	</div>
	
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered zy-resume">
		<div class="zy-resume-myimg-poi">
			<img src="<%= rs.headimg %>" />
		</div>
		<div class="am-animation-slide-left">
			<h2 style="color:#555;">我的网页版简历</h2>
			<h5>愿以我的努力、激情和真诚，能为您带来新的活力！</h5>
		</div>
	</div>

	<% include ./netresume/baseinfo.html %>
	<% include ./netresume/linkinfo.html %>
	<% include ./netresume/educationinfo.html %>
	<% include ./netresume/internshipinfo.html %>
	<% include ./netresume/jobsinfo.html %>
	<% include ./netresume/rewardinfo.html %>
	<% include ./netresume/worksinfo.html %>
	<% include ./netresume/projectsinfo.html %>
	<% include ./netresume/practiceinfo.html %>
	<% include ./netresume/paperinfo.html %>
	<% include ./netresume/skillsinfo.html %>

<% include ../myfooter.html %>

<!-- 添加其他，比如其他的网络空间，网站，论坛 -->