<% include ../myheader.html %>
	
<section id="zy-rePwd">
	<% include ../nav.html %>
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<% include setingNav.html %>
		<div class="col-lg-9 am-u-lg-9 zy-show-lg-content">
			<form class="am-form am-form-horizontal" method="post" style="margin-top:30px;">
				<div class="am-form-group">
					<label for="oldpassword" class="am-u-sm-2 am-form-label">原始密码:</label>
					<div class="am-u-sm-10">
						<input type="password" class="am-input-lg oldpassword" placeholder="请输入您的原始密码">
					</div>
				</div>
				<div class="am-form-group">
					<label for="newpassword" class="am-u-sm-2 am-form-label">新密码:</label>
					<div class="am-u-sm-10">
						<input type="password" class="am-input-lg newpassword" placeholder="请输入您的新密码">
					</div>
				</div>
				<div class="am-form-group">
					<label for="newpassword2" class="am-u-sm-2 am-form-label">确认密码:</label>
					<div class="am-u-sm-10">
						<input type="password" class="am-input-lg newpassword2" placeholder="请再次输入您的新密码">
					</div>
				</div>
				<br>
				<div class="am-form-group">
					<div class="am-u-sm-10 am-u-sm-offset-2">
						<button class="am-btn am-btn-primary">提交确认</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<br><br><br>

<% include ../myfooter.html %>