<% include ../myheader.html %>

<section id="zy-privateSeting">

	<% include ../nav.html %>
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<% include setingNav.html %>
		<div class="col-lg-10 am-u-lg-10 zy-show-lg-content">
			<% if(locals.results){ %>
				<div>
					<% if(results.allModels.length>0){ %>
						<div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi" >
						    <h2 class="am-titlebar-title ">
						        已拥有的特权设置
						    </h2>
						</div>
					<% } %>
					<table class="am-table">
					    <tbody>
					    	<% for(var i=0; i<results.allModels.length; i++) { %>
					    		<tr data-ids="<%= i %>">
					    			<td class="am-text-middle" style="text-align:left"><%= results.allModels[i].moduleDesc %></td>
					    			<td class="am-text-middle" style="text-align:left"><%= results.allModels[i].vCode %></td>
					    			<td class="am-text-middle" style="text-align:right">
					    			<% if(results.allModels[i].status=='1'){ %>
					    				已开启
					    			<% }else{ %>
					    				已关闭
					    			<% } %>
					    			</td>
					    			<td class="am-text-middle" style="text-align:right;min-width:20rem;">
					    				<div class="am-btn-group am-btn-group-xs">
					    				  	<button type="button" class="am-btn am-btn-secondary am-radius zy-upd-set-con">
					    				  	<% if(results.allModels[i].status=='1'){ %>
		  				    					关闭
		  				    				<% }else{ %>
		  				    					开启
		  				    				<% } %>
					    				  	</button>
					    				  	<button type="button" class="am-btn am-btn-danger am-radius zy-del-set-con">删除</button>
					    				  	<button type="button" class="am-btn am-btn-success am-radius zy-look-set-con">修改</button>
					    				</div>
					    			</td>
					    		</tr>
					    	<% } %>
					    </tbody>
					</table>	
				</div>
			<% } %>
				<div class="zy-set-show">
					<div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi" >
					    <h2 class="am-titlebar-title ">
					        添加新的特权设置如下所示：
					    </h2>
					</div><br>
	                <div class="zy-public-title">
	                    <span class="am-badge am-badge-secondary am-round am-text-xl">1</span> <span class="titleName am-badge am-badge-secondary am-text-xl">个性简介</span>
	                </div>
	                <div class="zy-public-content zy-change-content">
	                    <a class="zy-div-radio am-badge am-badge-success am-text-lg">公开</a>
	                    <a class="zy-div-radio am-badge am-text-lg">不公开</a>
	                </div>
	                <div class="zy-public-title">
	                    <span class="am-badge am-badge-secondary am-round am-text-xl">2</span> <span class="titleName am-badge am-badge-secondary am-text-xl">个人简历</span>
	                </div>
	                <div class="zy-public-content zy-change-content">
	                    <a class="zy-div-checkbox  am-badge am-text-lg">基本信息</a>
	                    <a class="zy-div-checkbox  am-badge am-text-lg">联系方式</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">教育经历</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">实习工作</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">工作经历</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">荣誉奖励</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">个人作品</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">项目经历</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-badge-success am-text-lg">实践经历</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-badge-success am-text-lg">论文专利</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">核心技能</a>
	                </div>
	                <div class="zy-public-title">
	                    <span class="am-badge am-badge-secondary am-round am-text-xl">3</span> <span class="titleName am-badge am-badge-secondary am-text-xl">资源导航</span>
	                </div>
	                <div class="zy-public-content zy-change-content">
	                	<a class="zy-div-radio am-badge am-badge-success am-text-lg">公开</a>
	                	<a class="zy-div-radio am-badge am-text-lg">不公开</a>
	                </div>
	                <div class="zy-public-title">
	                    <span class="am-badge am-badge-secondary am-round am-text-xl">4</span> <span class="titleName am-badge am-badge-secondary am-text-xl">博文面经</span>
	                </div>
	                <div class="zy-public-content zy-change-content">
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">技术博文</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">行业远瞻</a>
	                    <a class="zy-div-checkbox  am-badge am-text-lg">生活日志</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">面试经验</a>
	                    <a class="zy-div-checkbox  am-badge am-badge-success am-text-lg">随便写写</a>
	                </div>
		            <div style="margin-left:45px;">
		                <button class="saveBtn am-btn am-btn-secondary am-text-lg"> 添加新的设置 </button>
		            </div><br>
	            </div>
		</div>
	</div>


	<div class="am-modal am-modal-prompt" tabindex="-1" id="zy-priset-name">
		<div class="am-modal-dialog">
			<div class="am-modal-hd">给您的本次特权设置取个名字吧~</div>
			<div class="am-modal-bd">
				<input type="text" class="am-modal-prompt-input">
			</div>
			<div class="am-modal-footer">
				<span class="am-modal-btn" data-am-modal-cancel>取消</span>
				<span class="am-modal-btn" data-am-modal-confirm>提交</span>
			</div>
		</div>
	</div>

</section>

<br><br><br>

<% include ../myfooter.html %>
