<div class="col-lg-2 am-u-lg-2 am-show-lg-only zy-show-lg-nav">
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">公开方式设置</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
			<li><a href="/sets_pub">全公开设置</a></li>
			<li><a href="/sets_pri">半公开设置</a></li>
		</ul>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-nomargin">
		<h2 class="am-titlebar-title ">个人中心设置</h2>
	</div>
	<div>
		<ul class="am-list am-list-border">
			<li><a href="/sets_pwd">密码修改</a></li>
			<li><a href="/sets_pwd">消息中心</a></li>
			<li><a href="/sets_pwd">我的状态</a></li>
			<li><a href="/sets_pwd">我的收藏</a></li>
		</ul>
	</div>
</div>
