<% include ../myheader.html %>

<section id="zy-setting">
	<% include ../nav.html %>
	<div class="am-g am-u-lg-9 am-u-md-12  am-u-sm-centered">
		<% include setingNav.html %>
		<div class="col-lg-9 am-u-lg-9 zy-show-lg-content">
			<% for(var i=0; i<results.allModels.length; i++) { %>
				<div class="zy-public-title">
					<span class="am-badge am-badge-secondary am-round am-text-xl"><%=i+1 %></span> <span class="titleName am-badge am-badge-secondary am-text-xl"><%=results.allModels[i].modelNam %></span>
				</div>
				<div class="zy-public-content zy-change-content">
					<% for(var j=0; j<results.allModels[i].sunModels.length; j++) { %>
						<% if(results.allModels[i].modelNam =='个性简介') { %>
							<% if(results.allModels[i].sunModels[j].sunYesNo ==1) { %>
								<a class="zy-div-radio am-badge am-badge-success am-text-lg">
									<%=results.allModels[i].sunModels[j].sunNam %>
								</a>
							<% } else { %>
								<a class="zy-div-radio am-badge am-text-lg">
									<%=results.allModels[i].sunModels[j].sunNam %>
								</a>
							<% } %>
						<% } else{ %>
								<% if(results.allModels[i].sunModels[j].sunYesNo ==1) { %>
									<a class="zy-div-checkbox am-badge am-badge-success am-text-lg">
										<%=results.allModels[i].sunModels[j].sunNam %>
									</a>
								<% } else { %>
									<a class="zy-div-checkbox am-badge am-text-lg">
										<%=results.allModels[i].sunModels[j].sunNam %>
									</a>
								<% } %>
						<% }%>
					<% }%>
				</div>
			<% } %>
			<!-- <div class="zy-public-title">
				<span class="am-badge am-badge-secondary am-round am-text-xl">5</span> <span class="am-badge am-badge-secondary am-text-xl">公开链接</span>
			</div>
			<div class="zy-public-content">
				<span class="am-badge am-badge-warning am-text-lg">http://localhost:3000/seting</span>
			</div> -->
			<div style="margin-left:50px;">
				<button class="am-btn am-btn-warning am-text-lg"> 保存设置 </button>
			</div>
			<br>
		</div>
	</div>	
</section>	
	
<% include ../myfooter.html %>
