<% include ../myheader.html %>

<section id="zy-myindex">
	<div class="am-g zy-myindex-pageimg">
		<figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
			<img src="/images/mainbg.png" data-rel="/images/mainbg.png" />
		</figure>
	</div>
	<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
		<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-noline">
			<h2 class="am-titlebar-title ">个人成就 —— 最新动态</h2>
		</div>
		<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-bordered" data-am-gallery="{  }">
			<% for(var i=0; i<num0; i++){ %>
				<li>	
					<div class="am-gallery-item">
						<a href="#" class="">
							<img style="height:15rem" src="<%= comAwards[i].cimages %>" />
							<h3 class="am-gallery-title"><a href="#"><%= comAwards[i].certificatename %></a></h3>
							<div class="am-gallery-desc"><%= comAwards[i].gettime %></div>
						</a>
					</div>
				</li>
			<% } %>
			
			<% if(num0<4){ %>
				<% for(var j=num0; j<4; j++){ %>
					<li>
						<div class="am-gallery-item">
							<a href="<% if(signed=='1'){ %>/<%= uName %>/resume#reward<% }else{ %>javascript:void(0);<% } %>" class="">
								<img style="height:15rem" src="/images/exp2.jpg" />
								<h3 class="am-gallery-title"><a href="<% if(signed=='1'){ %>/<%= uName %>/resume#reward<% }else{ %>javascript:void(0);<% } %>"><% if(signed=='1'){ %>暂无，期待你的出现！<% }else{ %>楼主很懒，暂未添加<% } %></a></h3>
								<div class="am-gallery-desc">xxxx-xx-xx</div>
							</a>
						</div>
					</li>
				<% } %>
			<% } %>
		</ul>
	</div>
	<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
		<div class="col-md-8 am-u-md-8 zy-article-recommend">
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-noline">
				<h2 class="am-titlebar-title ">个人相关 —— 优秀文章推荐</h2>
			</div>
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
					<h2 style="color:#0e90d2">技术博文</h2>
					<% if(comArt2.length>num3){ %>
						<a target="_blank" href="/<%= uName %>/blogs_alluArts?typ=1">
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					<% } %>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list">
						<% if(num3==0){ %>
							暂无，期待你的出现！
						<% }else{ %>
							<% for(var k=0; k<num3; k++){ %>
								<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
									<div class="am-u-sm-2 am-list-thumb">
										<a href="javascript:void(0)">
											<% if(comArt2[k].articleImgs.length>0){ %>
												<img src="<%= comArt2[k].articleImgs[0] %>" alt="<%= comArt2[k].articleTitle %>" />
											<% }else{ %>
												<img src="/images/default.png" alt="本篇文章中没有图片哦~" />
											<% } %>
										</a>
									</div>
									<div class=" am-u-sm-10 am-list-main">
										<h3 class="am-list-item-hd">
					            			<a target="_blank" href="/<%= uName %>/blogs_art?aid=<%= comArt2[k]._id %>"><%= comArt2[k].articleTitle %></a>
					          			</h3>
										<div class="am-list-item-text"><%= comArt2[k].articleAbstract %></div>
									</div>
								</li>
							<% } %>
						<% } %>
					</ul>
				</div>
			</div>
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
					<h2 style="color:#0e90d2">行业远瞻</h2>
					<% if(comArt3.length>num4){ %>
						<a href="/<%= uName %>/blogs_alluArts?typ=2" target="_blank">
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					<% } %>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list">
						<% if(num4==0){ %>
							暂无，期待你的出现！
						<% }else{ %>
							<% for(var k=0; k<num4; k++){ %>
								<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
									<div class="am-u-sm-2 am-list-thumb">
										<a href="javascript:void(0)" class="">
											<% if(comArt3[k].articleImgs.length>0){ %>
												<img src="<%= comArt3[k].articleImgs[0] %>" alt="<%= comArt3[k].articleTitle %>" />
											<% }else{ %>
												<img src="/images/default.png" alt="本篇文章中没有图片哦~" />
											<% } %>
										</a>
									</div>
									<div class=" am-u-sm-10 am-list-main">
										<h3 class="am-list-item-hd">
					            			<a target="_blank" href="/<%= uName %>/blogs_art?aid=<%= comArt3[k]._id %>"><%= comArt3[k].articleTitle %></a>
					          			</h3>
										<div class="am-list-item-text"><%= comArt3[k].articleAbstract %></div>
									</div>
								</li>
							<% } %>
						<% } %>
					</ul>
				</div>
			</div>
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
					<h2 style="color:#0e90d2">随便写写</h2>
					<% if(comArt4.length>num5){ %>
						<a href="/<%= uName %>/blogs_alluArts?typ=4" target="_blank">
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					<% } %>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list">
						<% if(num5==0){ %>
							暂无，期待你的出现！
						<% }else{ %>
							<% for(var k=0; k<num5; k++){ %>
								<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
									<div class="am-u-sm-2 am-list-thumb">
										<a href="javascript:void(0)" class="">
											<% if(comArt4[k].articleImgs.length>0){ %>
												<img src="<%= comArt4[k].articleImgs[0] %>" alt="<%= comArt4[k].articleTitle %>" />
											<% }else{ %>
												<img src="/images/default.png" alt="本篇文章中没有图片哦~" />
											<% } %>
										</a>
									</div>
									<div class=" am-u-sm-10 am-list-main">
										<h3 class="am-list-item-hd">
					            			<a target="_blank" href="/<%= uName %>/blogs_art?aid=<%= comArt4[k]._id %>"><%= comArt4[k].articleTitle %></a>
					          			</h3>
										<div class="am-list-item-text"><%= comArt4[k].articleAbstract %></div>
									</div>
								</li>
							<% } %>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 am-u-md-4 zy-hot-article">
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-noline">
				<h2 class="am-titlebar-title ">热门推荐</h2>
			</div>
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
					<h2 style="color:#0e90d2">我的面经</h2>
					<% if(comExps.length>num1){ %>
						<a href="/<%= uName %>/blogs_alluExps" target="_blank">
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					<% } %>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% if(num1==0){ %>
							暂无，期待你的出现！
						<% }else{ %>
							<% for(var k=0; k<num1; k++){ %>
								<li class="am-g am-list-item-dated">
									<a target="_blank" href="/<%= uName %>/blogs_exp?aid=<%= comExps[k]._id %>" class="am-list-item-hd "><%= comExps[k].experienceTitle %></a>
									<span class="am-list-date"><%= dateformat(comExps[k].cTime, 'YYYY-MM-DD') %></span>
								</li>
							<% } %>
						<% } %>
					</ul>
				</div>
			</div>
			<div data-am-widget="list_news" class="am-list-news am-list-news-default">
				<div class="am-list-news-hd am-cf">
					<h2 style="color:#0e90d2">我的日志</h2>
					<% if(comArt1.length>num2){ %>
						<a href="/<%= uName %>/blogs_alluArts?typ=4" target="_blank">
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					<% } %>
				</div>
				<div class="am-list-news-bd">
					<ul class="am-list zy-titleList">
						<% if(num2==0){ %>
							暂无，期待你的出现！
						<% }else{ %>
							<% for(var k=0; k<num2; k++){ %>
								<li class="am-g am-list-item-dated">
									<a target="_blank" href="/<%= uName %>/blogs_art?aid=<%= comArt1[k]._id %>" class="am-list-item-hd "><%= comArt1[k].articleTitle %></a>
									<span class="am-list-date"><%= dateformat(comArt1[k].cTime, 'YYYY-MM-DD') %></span>
								</li>
							<% } %>
						<% } %>
					</ul>
				</div>
			</div>
			<section class="am-panel am-panel-default admin-sidebar-panel" style="margin-left:1rem;margin-right:1rem;">
		        <div class="am-panel-bd">
		          	<p style="color:#0e90d2;font-size:1.6rem;font-weight:bold;">
		          		<span class="am-icon-bookmark"></span> 今日寄语</p>
		          	<p>时光静好，与君语；细水流年，与君同。—— 人人秀</p>
		        </div>
	     	</section>
			<div class="zy-qrcode">
				<h3>我的二维码生成器</h3>
				<div class="am-input-group">
					<input type="text" class="am-form-field" id="doc-qr-text">
					<span class="am-input-group-btn">
              		<button class="am-btn am-btn-default" type="button" id="doc-gen-qr">生成</button>
            		</span>
				</div>
				<br>
				<div id="doc-qrcode" class="am-text-center"></div>
			</div>
		</div>
	</div>
</section>

<br><br><br>

<% include ../myfooter.html %>