<% include myheader.html %>
	<style>
	.zy-titleList a {
		font-size: 14px;
		color: #444;
	}
	
	.zy-titleList a:hover {
		color: #0e90d2;
	}
	</style>
	<section>
		<!-- 要适当修改图片的长于宽的比例，可以改变图片显示的效果 -->
		<div class="am-g zy-myindex-pageimg">
			<figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
				<img src="/images/mainbg.png" data-rel="/images/mainbg.png" />
		</div>
		<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
			<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-noline">
				<h2 class="am-titlebar-title ">个人成就 —— 最新动态</h2>
			</div>
			<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-bordered" data-am-gallery="{  }">
				<li>
					<div class="am-gallery-item">
						<a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
							<img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
							<h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
							<div class="am-gallery-desc">2375-09-26</div>
						</a>
					</div>
				</li>
				<li>
					<div class="am-gallery-item">
						<a href="http://s.amazeui.org/media/i/demos/bing-2.jpg" class="">
							<img src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt="" />
							<h3 class="am-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
							<div class="am-gallery-desc">2375-09-26</div>
						</a>
					</div>
				</li>
				<li>
					<div class="am-gallery-item">
						<a href="http://s.amazeui.org/media/i/demos/bing-3.jpg" class="">
							<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt="" />
							<h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
							<div class="am-gallery-desc">2375-09-26</div>
						</a>
					</div>
				</li>
				<li>
					<div class="am-gallery-item">
						<a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
							<img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt="" />
							<h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
							<div class="am-gallery-desc">2375-09-26</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="am-g am-u-lg-10 am-u-md-12  am-u-sm-centered">
			<div class="col-md-8 am-u-md-8 zy-article-recommend">
				<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-noline">
					<h2 class="am-titlebar-title ">个人相关 —— 优秀文章推荐</h2>
				</div>
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a href="###" class="">
							<h2>原创文章</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list">
							<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
								<div class="am-u-sm-2 am-list-thumb">
									<a href="http://www.douban.com/online/11614662/" class="">
										<img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！" />
									</a>
								</div>
								<div class=" am-u-sm-10 am-list-main">
									<h3 class="am-list-item-hd">
				            <a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a>
				          </h3>
									<div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》http://book.douban.com/subject/25711202/为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
								</div>
							</li>
							<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
								<div class="am-u-sm-2 am-list-thumb">
									<a href="http://www.douban.com/online/11624755/" class="">
										<img src="http://img3.douban.com/lpic/o637240.jpg" alt="我最喜欢的一张画" />
									</a>
								</div>
								<div class=" am-u-sm-10 am-list-main">
									<h3 class="am-list-item-hd">
				            <a href="http://www.douban.com/online/11624755/" class="">我最喜欢的一张画</a>
				          </h3>
									<div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>
								</div>
							</li>
							<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
								<div class="am-u-sm-2 am-list-thumb">
									<a href="http://www.douban.com/online/11614662/" class="">
										<img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！" />
									</a>
								</div>
								<div class=" am-u-sm-10 am-list-main">
									<h3 class="am-list-item-hd">
				            <a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a>
				          </h3>
									<div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》http://book.douban.com/subject/25711202/为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a href="###" class="">
							<h2>收藏转载文章</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list">
							<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
								<div class="am-u-sm-2 am-list-thumb">
									<a href="http://www.douban.com/online/11614662/" class="">
										<img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！" />
									</a>
								</div>
								<div class=" am-u-sm-10 am-list-main">
									<h3 class="am-list-item-hd">
				            <a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a>
				          </h3>
									<div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》http://book.douban.com/subject/25711202/为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
								</div>
							</li>
							<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
								<div class="am-u-sm-2 am-list-thumb">
									<a href="http://www.douban.com/online/11624755/" class="">
										<img src="http://img3.douban.com/lpic/o637240.jpg" alt="我最喜欢的一张画" />
									</a>
								</div>
								<div class=" am-u-sm-10 am-list-main">
									<h3 class="am-list-item-hd">
				            <a href="http://www.douban.com/online/11624755/" class="">我最喜欢的一张画</a>
				          </h3>
									<div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>
								</div>
							</li>
							<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
								<div class="am-u-sm-2 am-list-thumb">
									<a href="http://www.douban.com/online/11614662/" class="">
										<img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！" />
									</a>
								</div>
								<div class=" am-u-sm-10 am-list-main">
									<h3 class="am-list-item-hd">
				            <a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a>
				          </h3>
									<div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》http://book.douban.com/subject/25711202/为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 am-u-md-4 zy-hot-article">
				<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default zy-titlebar-noline">
					<h2 class="am-titlebar-title ">热门推荐</h2>
				</div>
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a href="##" class="">
							<h2>我的面经</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">我很囧，你保重....晒晒旅行中的那些囧！</a>
								<span class="am-list-date">2014-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">我最喜欢的一张画</a>
								<span class="am-list-date">2014-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
								<span class="am-list-date">2014-11-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">我很囧，你保重....晒晒旅行中的那些囧！</a>
								<span class="am-list-date">2014-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">我最喜欢的一张画</a>
								<span class="am-list-date">2014-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
								<span class="am-list-date">2014-11-18</span>
							</li>
						</ul>
					</div>
				</div>
				<div data-am-widget="list_news" class="am-list-news am-list-news-default">
					<div class="am-list-news-hd am-cf">
						<a href="##" class="">
							<h2>我的日志</h2>
							<span class="am-list-news-more am-fr">更多 &raquo;</span>
						</a>
					</div>
					<div class="am-list-news-bd">
						<ul class="am-list zy-titleList">
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">我很囧，你保重....晒晒旅行中的那些囧！</a>
								<span class="am-list-date">2014-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">我最喜欢的一张画</a>
								<span class="am-list-date">2014-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
								<span class="am-list-date">2014-11-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">我很囧，你保重....晒晒旅行中的那些囧！</a>
								<span class="am-list-date">2014-09-18</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">我最喜欢的一张画</a>
								<span class="am-list-date">2014-10-14</span>
							</li>
							<li class="am-g am-list-item-dated">
								<a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
								<span class="am-list-date">2014-11-18</span>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<h3>我的二维码生成器</h3>
					<div class="am-input-group">
						<input type="text" class="am-form-field" id="doc-qr-text">
						<span class="am-input-group-btn">
                  		<button class="am-btn am-btn-default" type="button" id="doc-gen-qr">生成</button>
                		</span>
					</div>
					<br>
					<div id="doc-qrcode" class="am-text-center"></div>
				</div>
			</div>
		</div>
	</section>
	<% include myfooter.html %>
		<script>
		$(function() {
			var $input = $('#doc-qr-text');
			$qr = $('#doc-qrcode');

			function makeCode(text) {
				$qr.empty().qrcode(text);
			}
			$input.val(location.href);
			makeCode(location.href);
			$('#doc-gen-qr').on('click', function() {
				makeCode($input.val());
			});
			$input.on('focusout', function() {
				makeCode($input.val());
			});
		});
		</script>
